.GoogleReviewRedirectIndicatorContainer {
  @apply tw-fixed tw-left-0 tw-top-0 tw-h-full tw-w-full tw-flex tw-items-center tw-justify-center tw-z-50;
}

.GoogleReviewRedirectIndicatorWrapper {
  @apply tw-fixed tw-rounded-lg tw-flex tw-flex-col tw-items-center tw-justify-center tw-z-100 tw-bg-black tw-bg-opacity-40;
  height: 114px;
  width: 140px;
  top: calc(50% - 70px);
  left: calc(50% - 70px);
}
