@import "../../../Variables";

.loyalty-home {
  &__container {
    height: 100%;
    width: 100%;
    background-color: $main-color;
  }

  &__article {
    flex: 1;
  }

  &__location {
    color: $white;
  }

  &__logo {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    color: $logo-default-title;
  }

  &__cashback-value {
    display: inline-block;
    color: $white;
  }

  &__cashback-history-icon-button {
    padding: 8px;
    height: auto;
    line-height: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    svg {
      fill: $gray-2;
      color: $gray-2;
    }
  }
}
