$white: #ffffff;

.page-login {
  background-color: #eff2f3;

  &__content {
    margin-top: 5vh;
  }

  &__image-container {
    margin: 0 auto;
  }

  &__container {
    margin: 0 16px;
    padding: 16px;
    background-color: $white;
  }

  &__tip {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
  }

  .aside-bottom {
    position: relative;
    bottom: auto;

    &.not-full {
      padding: 0;
    }
  }

  .react-phone-number-input {
    margin: 16px 0;
  }
}
