.resultBody {
  @apply tw-justify-center;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.resultImage {
  @apply tw-flex tw-justify-center tw-p-16 sm:tw-p-16px;
}

.resultTitle {
  @apply tw-flex tw-justify-center tw-text-center tw-text-xl tw-leading-normal tw-font-bold;

  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  word-break: break-word;
}

.resultDescription {
  @apply tw-flex tw-justify-center tw-text-center tw-mt-4 sm:tw-mt-4px tw-mb-8 sm:tw-mb-8px tw-leading-relaxed tw-text-gray-700;

  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  word-break: break-word;
}
