$font-size-base: 14px;
$mobile-font-size-base: 12px;
$main-color: #303030;
$white: #ffffff;
$black: #000000;
$dark: #2c2c2c;
$red: #ff5821;
$yellow: #ab8d3f;
$green: #8bc34a;
$gray-0: #6b6b6b;
$gray-1: #8d90a1;
$gray-2: #909090;
$gray-3: #dededf;
$gray-4: #efefef;
$gray-5: #fafafa;
$blue: #31728d;
$link-blue: #2196f3;
$theme-color: #ff9419;
$theme-color-translucent: rgba(255, 148, 25, 0.5);
$gray-1-active: #4f515f;
$theme-color-active: #de8115;
$font-weight-light: 300;
$font-weight-bold: 600;
$border-radius-base: 4px;

* {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  font-weight: normal;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html {
  background: $white;
  font-size: $font-size-base;
  color: $main-color;
  font-weight: $font-weight-bold;

  font-family: system-ui, -apple-system, Roboto, Ubuntu, Helvetica, Arial, sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: $main-color;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-size-huge {
  font-size: 2.1428rem;
}

.text-size-biggest {
  font-size: 1.4285rem;
}

.text-size-bigger {
  font-size: 1.2857rem;
}

.text-size-big {
  font-size: 1.1428rem;
}

.text-size-small {
  font-size: 0.8571rem;
}

.text-size-smaller {
  font-size: 0.7142rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-error {
  color: $red;
}

.border-radius-base {
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.hide {
  display: none;
}

@media (max-width: 374px) {
  *,
  html {
    font-size: $mobile-font-size-base;
  }
}
