@import "../../../Variables";

.loyalty-claim {
  &__container {
    height: 100%;
    width: 100%;
    background-color: $main-color;
  }

  &__location {
    color: $white;
  }

  &__logo {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    color: $logo-default-title;
  }

  &__money-currency {
    display: inline-block;
    color: $white;
  }
}
