@import "../../../Variables";

.banner-container {
  transform: translateX(calc(-76% - 24px));
}

.banners-item {
  width: 100%;
  height: 27vw;

  img {
    width: calc(100% - 12px);
    height: 27vw;
    border-radius: $border-radius-large;
    margin-left: 12px;
  }
}

@media (min-width: 770px) {
  .banners-item {
    width: 362px;
    height: 117px;

    img {
      width: 350px;
      height: 117px;
      border-radius: $border-radius-large;
      margin-left: 12px;
    }
  }

  .banner-container {
    transform: translateX(-343px);
  }
}
