.stores-list-contain {
  .stores-info,
  .stores-list {
    height: 100px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;

    img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      margin: 0 20px;
    }
    .stores-list-item,
    .stores-info-detail {
      flex: 1;
      p:nth-child(1) {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      p:nth-child(2) {
        margin: 5px 0;
        color: #999;
        font-size: 12px;
        line-height: 18px;
      }
      p:nth-child(3),
      p:nth-child(4) {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
  .stores-list {
    // padding: 0 16px;
    height: auto;
    display: block;
    .stores-list-item {
      min-height: 100px;
      // padding: 0 16px;

      border-bottom: 1px solid #eee;
      padding: 8px 30px 8px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      p:last-child {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20%;
        bottom: 0;
        right: 0;
        // margin: auto 0;
        img {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          margin: 0;
        }
      }
      p {
        color: #999;
      }
      p:nth-child(1),
      p:nth-child(3) {
        color: #303030;
        display: flex;
        line-height: 24px;
        i {
          margin-right: 5px;
          display: flex;
          align-items: center;
        }
        .stores-list-item-distance {
          display: inline-block;
          width: 24vw;
          max-width: 100px;
        }
      }
      p:nth-child(2) {
        line-height: 18px;
        margin-top: 3px;
      }
      p:nth-child(3) {
        margin-top: 3px;
      }
      p:nth-child(4) {
        color: #303030;
        line-height: 24px;
        margin-top: 4px;
      }
    }
  }
}
