.container {
  height: auto;
}
.stores-list-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  .stores-info,
  .stores-list {
    height: 100px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 20px;
    }
    .stores-list-item,
    .stores-info-detail {
      flex: 1;
      p:nth-child(1) {
        font-weight: 600;
        font-size: 16px;
      }
      p:nth-child(2) {
        margin: 5px 0;
        color: #999;
      }
    }
  }
  .stores-list {
    padding: 0 16px;
    height: auto;
    display: block;
    .stores-list-item {
      min-height: 100px;
      border-bottom: 1px solid #eee;
      padding: 20px 30px 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      p:last-child {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20%;
        bottom: 0;
        right: 0;
        // margin: auto 0;
      }
      p {
        color: #999;
      }
      p:nth-child(1),
      p:nth-child(3) {
        color: #303030;
        .stores-list-item-distance {
          display: inline-block;
          width: 24vw;
          max-width: 100px;
        }
      }
    }
  }
}
