.PointsHistoryBannerRight {
  figure > div {
    padding-top: 132.653061% !important;
  }
}

.PointsHistorySection {
  @apply tw-pt-24 sm:tw-pt-24px;
}

.PointsHistoryListTitle {
  @apply tw-px-16 sm:tw-px-16px tw-text-xl tw-leading-normal tw-font-bold;
}

.PointsHistoryList {
  @apply tw-py-8 sm:tw-py-8px tw-space-y-8 sm:tw-space-y-8px;
}

.PointsHistoryItem {
  @apply tw-flex tw-justify-between tw-px-16 sm:tw-px-16px tw-py-4 sm:tw-py-4px;
}

.PointsHistoryItemTitle {
  @apply tw-leading-loose;
}

.PointsHistoryItemDateTime {
  @apply tw-text-sm tw-text-gray-700 tw-leading-loose;
}

.PointsHistoryItemReduceAmount,
.PointsHistoryItemIncreaseAmount {
  @apply tw-leading-loose;
}

.PointsHistoryItemReduceAmount {
  @apply tw-text-red;
}

.PointsHistoryItemIncreaseAmount {
  @apply tw-text-green;
}

.PointsHistoryListEmptySection {
  @apply tw-flex tw-flex-col tw-items-center tw-p-16 sm:tw-p-16px tw-my-16 sm:tw-my-16px tw-space-y-8 sm:tw-space-y-8px;
}

.PointsHistoryListEmptyImage {
  width: 21.333333%;
  max-width: 80px;
}

.PointsHistoryListEmptyTitle {
  @apply tw-text-gray-700 tw-font-bold tw-leading-loose;
}

.PointsHistoryListEmptyDescription {
  @apply tw-text-gray-700 tw-leading-loose;
}
