.PointsHistoryBanner {
  @apply tw-flex tw-pl-8 sm:tw-pl-8px tw-pr-16 sm:tw-pr-16px tw-py-16 sm:tw-py-16px  tw-bg-yellow-light;
}

.PointsHistoryBannerCustomerInfo {
  @apply tw-flex-1;
}

.PointsHistoryBannerTitle {
  @apply tw-leading-loose tw-px-8 sm:tw-px-8px;
}

.PointsHistoryBannerPoints {
  @apply tw-text-3xl tw-font-bold tw-px-8 sm:tw-px-8px;
}

.PointsHistoryBannerPrompts::before {
  @apply tw-block tw-m-8 sm:tw-m-8px tw-mt-4 sm:tw-mt-4px tw-bg-gray-200;

  content: "";
  height: 4px;
}

.PointsHistoryBannerExpiringTimePrompt {
  @apply tw-text-sm tw-text-gray-700 tw-px-8 sm:tw-px-8px;
}

.PointsHistoryBannerHowToUseButton {
  @apply tw-flex tw-items-center tw-mt-12 sm:tw-mt-12px;
}

.PointsHistoryBannerHowToUseButtonContent {
  @apply tw-font-bold;
}

.PointsHistoryBannerImage {
  @apply tw-flex-shrink-0;

  width: 28.571428%;
  max-width: 98px;

  > figure {
    @apply tw-bg-transparent;
  }

  figure > div {
    padding-top: 132.653061% !important;
  }
}

.PointsHistorySection {
  @apply tw-pt-24 sm:tw-pt-24px;
}

.PointsHistoryListTitle {
  @apply tw-px-16 sm:tw-px-16px tw-py-8 sm:tw-py-8px tw-text-xl tw-leading-normal tw-font-bold;
}

.PointsHistoryList {
  @apply tw-space-y-8 sm:tw-space-y-8px;
}

.PointsHistoryItem {
  @apply tw-flex tw-justify-between tw-px-16 sm:tw-px-16px tw-py-4 sm:tw-py-4px;
}

.PointsHistoryItemTitle {
  @apply tw-leading-loose;
}

.PointsHistoryItemDateTime {
  @apply tw-text-sm tw-text-gray-700 tw-leading-loose;
}

.PointsHistoryItemReduceAmount,
.PointsHistoryItemIncreaseAmount {
  @apply tw-leading-loose;
}

.PointsHistoryItemReduceAmount {
  @apply tw-text-red;
}

.PointsHistoryItemIncreaseAmount {
  @apply tw-text-green;
}
