@import "../../../Variables.scss";

.location-date {
  height: 100vh;

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  &__delivery,
  &__pickup {
    width: 50%;
    border: 1px solid $gray-4;

    &.active {
      color: $white;
      background-color: $theme-color;
      border-color: $theme-color;
    }
  }

  &__label {
    display: block;
  }

  &__date {
    height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__button-date {
    width: 80px;
    border-color: $gray-4;

    &:disabled {
      color: $gray-4;
      background-color: transparent;
    }
  }

  &__date-weekday {
    display: block;
  }

  &__hour {
    // overflow-y: auto;
  }

  &__button-hour {
    color: $gray-2;
    border-radius: 0;

    &.selected {
      color: $main-color;
      background-color: $gray-5;
    }
  }
}
