@import "../../../Variables.scss";

.location-date {
  height: 100vh;

  &__container {
    height: 100%;
    width: 100%;
  }

  &__label {
    display: block;
  }

  &__date {
    overflow-x: scroll;
  }

  &__button-date {
    width: 80px;
    border-color: $gray-4;

    &:disabled {
      color: $gray-4;
      background-color: transparent;
    }
  }

  &__date-weekday {
    display: block;
  }

  &__hour {
    overflow-y: scroll;
  }

  &__button-hour {
    color: $gray-2;
    border-radius: 0;

    &.selected {
      color: $main-color;
      background-color: $gray-5;
    }
  }
}
