@import "../../../../../Variables.scss";

.shopping-cart-empty {
  &__container {
    background: $white;
    width: 100%;
    height: 100%;
  }

  &__image-container {
    width: 50%;
    max-width: 200px;
  }

  &__description {
    max-width: 360px;
    color: $gray-3;
  }
}
