.SkeletonLoaderLogo {
  @apply tw-flex tw-flex-shrink-0 tw-my-24 sm:tw-my-24px;

  width: 100%;
  max-width: 80px;
}

.SkeletonLoaderPromoNameSecondLine {
  width: 80%;
}

.SkeletonLoaderPromoTermsTitle {
  max-width: 100px;
}
