@import "../../../../../Variables";

.receipt-list {
  width: 100%;
  max-height: 25%;
  overflow-y: auto;
  bottom: 0;
  left: 0;

  &--full {
    max-height: 100%;
    position: absolute;
  }

  &__container {
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-color: $white;
  }

  &--full &__container {
    border-radius: 0;
  }

  &__content {
    overflow: hidden;

    &--full {
      max-height: 100%;
      overflow: auto;
      padding-bottom: 72px;
    }
  }

  &__slide-button {
    text-align: center;
    display: block;
    margin: 0 auto;

    &::before {
      content: "";
      display: inline-block;
      height: 4px;
      width: 28px;
      border-radius: 2px;
      background-color: $gray-4;
    }
  }

  &__item-summary::marker {
    font-size: 0;
  }

  &__time {
    color: $gray-2;
  }
}
