@import "../../../../../Variables";

.receipt-list {
  &__container {
    overflow: auto;
  }

  &.full &__container {
    top: 0;
    z-index: 100;
    border-radius: 0;
  }

  &__content {
    margin: -4px -2.4vw;
    padding: 0 16px;
    overflow: hidden;
    max-height: 140px;

    &.full {
      max-height: 100%;
      overflow: auto;
      padding-bottom: 50px;
    }
  }

  &__slide-button {
    text-align: center;
    display: block;
    margin: 0 auto;

    &::before {
      content: "";
      display: inline-block;
      height: 4px;
      width: 28px;
      border-radius: 2px;
      background-color: $gray-4;
    }
  }

  &__title {
    padding: 10px 0;
    font-size: 1.3rem;
    color: $main-color;
  }

  &__item {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  }

  &__icon {
    fill: $theme-color;
  }
}
