@import "../../../Variables.scss";

.ordering-customer {
  height: 100vh;
  background-color: $gray-6;

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  &__detail {
    background-color: $white;
  }

  &__summary {
    width: 100%;
  }
}
