@import "../../../Variables.scss";

.voucher-sorry {
  height: 100vh;
  background-color: $gray-6;

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  &__title {
    color: $gray-2;
  }

  &__image-container {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
