$white: #ffffff;
$theme-color: #ff9419;
$disabled-color: #dededf;

.request-login {
  height: 100vh;

  &__prompt-loader {
    border: 0;
  }
}

.login-button {
  width: 200px;
  height: 8vh;
  max-height: 56px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  margin: 20px auto;

  &:disabled {
    background-color: $disabled-color;
  }

  &__fill {
    border: 0;
    color: $white;
    background-color: $theme-color;
  }
}
