.PointsRewardListSection {
  @apply tw-px-16 sm:tw-px-16px tw-py-12 sm:tw-py-12px tw-space-y-12 sm:tw-space-y-12px;
}

.PointsRewardListSectionTitle {
  @apply tw-text-xl tw-leading-normal tw-font-bold;
}

.PointsRewardList {
  @apply tw-flex tw-flex-col tw-gap-y-12 sm:tw-gap-y-12px;
}

.PointsRewardCard {
  @apply tw-flex tw-items-center tw-justify-between tw-bg-white tw-pl-12 sm:tw-pl-12px tw-py-12 sm:tw-py-12px tw-rounded-lg tw-shadow;
}

.PointsRewardInfoLeft {
  &__Unavailable {
    @apply tw-opacity-40;
  }
}

.PointsRewardDiscount {
  @apply tw-text-lg tw-leading-relaxed tw-font-bold tw-uppercase;
}

.PointsRewardDiscountName {
  @apply tw-text-sm tw-leading-loose;
}

.PointsRewardInfoRight {
  @apply tw-border-l-0 tw-border-r-0;

  &__Unavailable {
    @apply tw-border-opacity-40;
  }
}

.PointsRewardConstButton {
  min-width: 100px;
  max-height: 30px;
}

.PointsRewardConstButtonContent {
  @apply tw-font-bold tw-text-gray-800;
}

.PointsRewardConfirm {
  h4 {
    max-width: 290px;
  }
}

.PointsRewardClaimedAlertContent {
  @apply tw-flex tw-flex-col tw-items-center tw-justify-center tw-leading-loose;
}

.PointsRewardClaimedAlertIcon {
  @apply tw-mb-8 sm:tw-mb-8px tw-overflow-hidden;

  width: 120px;
  height: 80px;

  > figure {
    @apply tw-h-full tw-bg-transparent;
  }
}

.PointsRewardClaimedAlertTitle {
  @apply tw-flex tw-justify-center tw-text-center tw-m-auto tw-text-xl tw-leading-normal tw-text-gray-800 tw-font-bold;

  max-width: 264px;
  word-break: break-word;
}

.PointsRewardClaimedAlertDescription {
  @apply tw-flex tw-justify-center tw-text-center tw-mt-4 sm:tw-mt-4px tw-mb-8 sm:tw-mb-8px tw-leading-relaxed tw-text-gray-700;

  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  word-break: break-word;
}
