@import "../../../Variables.scss";
$gray-nav-item-text: #707070;

.ordering-home {
  height: 100vh;

  .footer {
    z-index: $z-index-base;
  }

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  &__deliver-to {
    top: 0;
  }

  &__deliver-to + &__header::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    margin: 0 2.4vw;
    border-top: 1px solid $gray-4;
  }

  &__header .header__content {
    width: 88%;
  }

  &__delivery-fee {
    color: $white;
    background-color: $theme-blue;
  }

  &__close-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.category-nav {
  position: sticky;
  top: 0;
  background-color: $gray-6;
  width: 25%;
  height: 100%;

  &__content {
    width: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  &__list {
    overflow-y: auto;
  }

  &__item {
    color: $gray-nav-item-text;
    border-left: 3px solid transparent;
    word-break: break-all;
    hyphens: auto;

    &.active {
      border-left-color: $theme-color;
      background-color: $white;
    }
  }
}

.category {
  width: 75%;

  &__header {
    top: 0;
    background-color: $gray-6;
  }
}

.home-cart {
  &__icon-container {
    position: relative;
    display: inline-block;
  }

  &__icon-cart {
    width: 38px;
    height: 100%;
    opacity: 0.5;

    &.non-empty {
      transform: rotate(-5deg);
      opacity: 1;
    }
  }

  &__items-number {
    position: absolute;
    bottom: 0;
    right: -25%;
    display: inline-block;
    padding: 0.28714em;
    min-width: 1.71428em;
    height: 1.71428em;
    color: $white;
    background-color: $theme-blue;
    border-radius: 50%;
  }

  &__amount {
    color: $white;
  }

  &__money-minimum {
    display: block;
  }

  &__order-button {
    width: 40%;
  }
}

@media (min-width: 770px) {
  .ordering-home {
    &__deliver-to + &__header::before {
      margin: 0 8px;
    }
  }
}
