.order-delay-message {
  &__icon {
    display: block;
    width: 2.29rem;
    margin: 0 auto -1.14rem;
  }

  &__content {
    padding-top: 5.79vw;
  }

  @media (min-width: 420px) {
    &__content {
      padding-top: 26px;
    }
  }
}
