.feedback {
  &__container {
    top: 0;
    z-index: 100;
  }

  &__container-toast {
    @apply tw-fixed tw-top-16 sm:tw-top-16px tw-z-200;

    left: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 414px;
    height: auto;
    transform: translateX(-50%);
  }
}
