.UniquePromosRewards {
  @apply tw-flex-1 tw-p-16 sm:tw-p-16px tw-mb-16 tw-;

  height: 100vh;

  iframe {
    max-width: 100%;
  }
}

@supports ((height: constant(safe-area-inset-bottom)) or (height: env(safe-area-inset-bottom))) and
  (-webkit-overflow-scrolling: touch) {
  .UniquePromosRewards {
    padding-bottom: calc(16px + constant(safe-area-inset-bottom));
    padding-bottom: calc(16px + env(safe-area-inset-bottom));
  }
}
