@import "../../../Variables.scss";

.full-screen {
  top: 0;
  padding: 14vh 0;
  height: 100%;
  background-color: $white;
  z-index: $z-index-base;

  &__image-container {
    margin: auto;
    max-width: 50%;
  }

  &__content {
    margin: 4vh 0;
  }

  &__button-group button {
    min-width: 120px;
    max-height: 40px;
  }
}
