@import "../../../Variables.scss";

.ordering-details {
  height: 100vh;
  background-color: $gray-6;

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  &__button-contact-us {
    color: $status-blue;
  }

  &__list {
    margin-bottom: 3.8vw;
  }

  &__summary {
    width: 100%;
  }

  &__item-quantity {
    display: inline-block;
  }

  &__item-content {
    display: inline-block;
    max-width: 90%;
  }

  &__item-title {
    width: 100%;
    word-break: break-all;
    hyphens: auto;
  }

  &__item-variations {
    color: $theme-color;
  }

  &__billing-container {
    margin-top: 3.8vw;
  }
}

@media (min-width: 420px) {
  .ordering-details {
    &__list {
      margin-bottom: 12px;
    }

    &__billing-container {
      margin-top: 12px;
    }
  }
}
