@import "../../../Variables";

.loyalty {
  height: 100vh;
  position: fixed;
}

.phone-view .react-phone-number-input--focus .react-phone-number-input__input,
.phone-view .react-phone-number-input .react-phone-number-input__input:focus,
.phone-view .react-phone-number-input .react-phone-number-input__input {
  font-size: 1rem;
  font-weight: $font-weight-bolder;
  height: 40px;
}
