@import "../../../Variables";

.loyalty {
  height: 100vh;
  position: fixed;
}

.phone-view .PhoneInput--focus .PhoneInputInput,
.phone-view .PhoneInput .PhoneInputInput:focus,
.phone-view .PhoneInput .PhoneInputInput {
  height: 40px;
}
