@import "../../../Variables.scss";

.billing {
  background-color: $white;

  &__button-login {
    height: 30px;
  }

  &__item-primary {
    background-color: $theme-color-translucent-light;
  }

  &__switch-container {
    cursor: pointer;
    display: inline-block;
  }

  &__toggle-checkbox {
    position: absolute;
    visibility: hidden;

    &:checked {
      + .billing__toggle-switch {
        background: $theme-color;

        &:before {
          left: 22px;
        }
      }
    }
  }

  &__toggle-switch {
    display: inline-block;
    background: $gray-4;
    border-radius: 18px;
    width: 48px;
    height: 28px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;

    &:before,
    &:after {
      content: "";
    }

    &:before {
      display: block;
      background: $white;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: left 0.25s;
    }
  }
}
