@import "../../../../../Variables.scss";

.store-review {
  height: 100vh;
}

.store-review__container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &-img {
    height: 120px;
  }

  &-hear {
    display: flex;
    justify-content: center;
  }

  &-tag {
    display: flex;
    justify-content: center;

    &-text {
      line-height: 2.33333333333;
    }
  }

  &-textarea-title {
    border-color: #dededf;
  }

  &-textarea {
    &-input {
      resize: none;
      -webkit-appearance: none;
      box-shadow: none;
      outline: none;
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
    }
  }
}

.store-review__footer {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
