.ordering-banking {
  height: 100vh;

  &__logo {
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    height: 100%;
    width: 100%;
  }

  &__group {
    position: relative;
    overflow: hidden;
  }

  &__select {
    height: 100%;
  }

  &__input {
    height: 54px;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
    height: 40px;
  }
}
