@import "../../../Variables.scss";

.ordering-merchant-info {
  height: 100vh;
  background-color: $gray-6;

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  &__item {
    padding-top: 3.8vw;
    padding-bottom: 3.8vw;
  }

  &__button-link,
  &__description {
    display: inline-block;
  }

  &__button-link {
    color: $status-blue;
  }
}

@media (min-width: 420px) {
  .ordering-merchant-info {
    &__item {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
