@import "../Variables";

.switch-bar {
  width: 50vw;

  &__active {
    border-bottom: 3px solid $theme-color;
  }
}
.fixed-wrapper__main {
  .error__container {
    padding-top: 19vh;
  }
}
.collection-page {
  &__render-error {
    .error__image-container {
      margin-left: auto;
      margin-right: auto;
    }
    .error__title {
      font-size: 20px;
      color: $main-color;
      font-weight: $font-weight-bolder;
    }
    .error__description {
      font-size: 16px;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
      color: $gray-2;
      width: 100%;
      padding: 0 2.8vw;
      max-width: 100%;
      font-weight: 400;
    }
  }
}
