@import "../../styles/variables.scss";

.DownloadBanner {
  @apply tw-flex tw-items-center tw-p-12 sm:tw-p-12px tw-gap-12 sm:tw-gap-12px tw-text-black tw-no-underline tw-rounded-lg tw-bg-no-repeat tw-bg-cover;

  background-image: url("../../../images/beep-app-download-background.jpg");
}

.DownloadBannerText {
  @apply tw-flex-1 tw-text-base tw-font-bold;
  @include text-line-clamp(2, null);
}

.DownloadBannerAppStoreIcon {
  @apply tw-flex-shrink-0 tw-rounded-lg tw-overflow-hidden;

  width: 50px;
  height: 50px;
}
