.MenuHeaderLeftContainer {
  @apply tw-flex tw-flex-shrink-0 tw-p-12 sm:tw-p-12px tw-w-3/10 tw-whitespace-nowrap;

  min-width: 116px;
  max-width: 600px;
}

.MenuHeaderTitle {
  @apply tw-font-bold tw-text-lg tw-leading-relaxed tw-mx-16 sm:tw-mx-16px;
}

.MenuHeaderLogo {
  width: 100%;
}

.MenuHeaderBackArrow {
  width: 20%;
}
