@import "../../../Variables";

.top-message {
  padding: 20px;
}

.top-message {
  display: block;
  position: relative;
  padding: 9vw;
  width: 100%;
  color: $white;
  z-index: 1;

  &.primary {
    background-color: $theme-color;
  }

  &.error {
    background-color: $status-red;
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 300;
    padding: 5vw;
  }

  &__text {
    font-weight: $font-weight-bolder;
    line-height: $line-height-base;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4vw;

    svg {
      fill: $white;
    }
  }

  &__second-level {
    padding: 10px;
    color: $white;
    background-color: $status-blue;
  }
}
