@import "src/Variables";

.profile {
  height: 100vh;

  &__container {
    height: 100%;
    width: 100%;
    overflow: auto;
    color: $gray-3;
  }

  &__complete-tip {
  }

  &__input {
    margin-bottom: 8px;
    border: 1px solid $gray-4;

    input {
      height: 25px;
    }
  }
}
