@import "../../../styles/variables.scss";

.PhoneNumberFormItemContainer {
  // tw-pb-24px is the padding-bottom of the form error message
  @apply tw-relative tw-pb-24px;
}

.PhoneNumberInputContainer {
  @apply tw-px-6 sm:tw-px-6px tw-border tw-border-solid tw-border-gray-400 tw-text-lg tw-rounded tw-overflow-hidden;

  &__error {
    @apply tw-text-red tw-border-red;
  }
}

.PhoneNumberInputLabel {
  @apply tw-my-8 sm:tw-my-8px;
}

.PhoneNumberInputInsideLabel {
  padding: 0 10px;
}

.PhoneNumberInput {
  @apply tw-flex tw-items-center tw-my-4 sm:tw-my-4px tw-border-0;

  :global(.PhoneInputCountryIcon),
  :global(.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border) {
    @apply tw-flex tw-items-center tw-mx-2 sm:tw-mx-2px tw-bg-gray-500;

    border: 0;
    width: calc(0.51em * 3.5);
    height: calc(0.51em * 2.7);
    box-shadow: none;
  }

  :global(.PhoneInputCountryIconImg) {
    @apply tw-flex;

    object-fit: contain;
    object-position: center;
  }

  input[type="tel"]:global(.PhoneInputInput) {
    @apply tw-leading-relaxed;

    padding-bottom: 10px;
    font-size: inherit;
    color: inherit;
  }
}

.PhoneNumberInsideLabelInput {
  input[type="tel"]:global(.PhoneInputInput) {
    padding: 0;
    height: auto;
  }
}

.PhoneNumberInputErrorMessage {
  @apply tw-absolute tw-my-4 sm:tw-my-4px tw-text-sm tw-text-red;
}
