@import "../../../styles/variables.scss";

.PhoneNumberInput {
  @apply tw-flex tw-items-center tw-my-0 tw-border-0;

  :global(.PhoneInputCountryIcon),
  :global(.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border) {
    @apply tw-flex tw-items-center tw-mx-2 sm:tw-mx-2px tw-bg-gray-500;

    border: 0;
    width: calc(0.51em * 3.5);
    height: calc(0.51em * 2.7);
    box-shadow: none;
  }

  :global(.PhoneInputCountryIconImg) {
    @apply tw-flex;

    object-fit: contain;
    object-position: center;
  }

  input[type="tel"]:global(.PhoneInputInput) {
    @apply tw-leading-relaxed;

    font-size: inherit;
    color: inherit;
  }
}
