.MembershipTiersTabsSection {
  @apply tw-mx-auto;
}

.MembershipTiersTabsContainer {
  @apply tw-relative;
}

.MembershipTiersTabs {
  @apply tw-flex tw-justify-between tw-border-0 tw-border-b tw-border-solid tw-border-gray-400;
}

.MembershipTiersTabsActiveBlock {
  @apply tw-absolute tw-left-0 tw-bg-orange;

  top: 37px;
  height: 2px;
}

.MembershipTiersTab {
  @apply tw-flex-1 tw-text-center tw-cursor-pointer;
}

.MembershipTiersTabName {
  @apply tw-w-full tw-p-8 sm:tw-p-8px tw-border-0 tw-bg-transparent tw-capitalize tw-leading-loose tw-text-gray-800 tw-cursor-pointer;

  outline: none;
  box-shadow: none;

  &__active {
    @apply tw-text-orange tw-font-bold;
  }
}

.MembershipTiersTabContent {
  @apply tw-hidden tw-p-12 sm:tw-p-12px;

  &__tab {
    min-height: 136px;
  }

  &__active {
    @apply tw-block;
  }

  ol,
  ul {
    padding-left: 20px;
  }

  li {
    @apply tw-leading-loose;
  }
}
