@import "../../../Variables.scss";

.ordering-cart {
  height: 100vh;
  background-color: $gray-5;

  .billing__label,
  .billing__text {
    color: $gray-2;
  }

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  &__products-container {
    padding-bottom: 6.2vw;
  }

  &__additional-comments {
    background-color: $white;
  }

  &__textarea {
    width: 100%;
    border: 0;
  }

  &__button-back {
    width: 33.333333%;
  }
}

.cart-promotion {
  &__button-acquisition {
    max-height: 50px;
  }
}

@media (min-width: 420px) {
  .ordering-cart {
    &__products-container {
      padding-bottom: 24px;
    }
  }
}
