@import "../../../Variables.scss";

.ordering-cart {
  height: 100vh;
  background-color: $gray-5;

  &__additional-comments {
    background-color: $white;
  }

  &__textarea {
    width: 100%;
    border: 0;
  }

  &__button-back {
    width: 33.333333%;
  }
}

.cart-promotion {
  &__button-acquisition {
    max-height: 50px;
  }
}
