.SliderAndDotsContainer {
  @apply tw-w-full tw-relative;
}

.SliderContainer {
  @apply tw-w-full;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.SliderDots {
  @apply tw-absolute tw-flex tw-justify-center tw-w-full;
  bottom: 10px;
}

.SliderDot {
  @apply tw-border-0 tw-cursor-pointer tw-bg-black tw-opacity-20 tw-rounded-full tw-mx-4 sm:tw-mx-4px tw-my-0;
  width: 8px;
  height: 8px;

  &:global(.active) {
    @apply tw-bg-orange tw-opacity-100;
  }
}
