@import "../../../../../Variables.scss";

.ordering-submission {
  width: 100%;
  height: 100vh;

  &__success,
  &__failure {
    position: relative;
    top: 7vh;
  }

  &__failure-description {
    color: $gray-3;
    max-width: 340px;
  }

  &__image-container-common {
    width: 50%;
    max-width: 200px;
  }

  &__image-container-new {
    width: 50%;
    max-width: 140px;
  }

  &__description {
    line-height: 1.6;
  }

  &__link {
    color: $status-blue;
  }

  &__button-container {
    width: 100%;
    row-gap: 2.4vw;
  }

  &__button-second {
    max-width: 296px;
    width: 75%;
    border-radius: 8px;
  }
}

@media (min-width: 420px) {
  .ordering-submission {
    &__button-container {
      row-gap: 8px;
    }
  }
}
