@import "src/Variables";

.recent-activities {
  max-height: 100%;
  overflow: auto;
  background-color: $main-color;

  &__list-item {
    color: $white;
  }

  &__list-icon {
    fill: $gray-5;

    svg {
      height: 30px;
      width: 30px;
    }

    &.earned {
      fill: $theme-color;
    }
  }

  &__time {
    color: $gray-2;
  }
}
