.StoreRedemptionContentExist {
  padding-bottom: 12.307692vw;
}

.StoreRedemptionContentNoExist {
  @apply tw-pb-24 sm:tw-pb-24px;
}

.StoreRedemptionStoreLogo {
  width: 22.35vw;
  height: 22.35vw;
  max-width: 80px;
  max-height: 80px;
}

@media (min-width: 770px) {
  .StoreRedemptionContentExist {
    padding-bottom: 48px;
  }
}
