@import "../../../../Variables.scss";

.cart-list-aside {
  height: auto;

  &__container {
    bottom: 0;
  }

  &__operation {
    top: 0;
    transform: translateY(-100%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $white;
  }

  &__icon-cart {
    fill: $theme-blue;
  }

  &__list-container {
    overflow-y: auto;
  }

  &__item-number {
    color: $gray-2;
  }
}

.mini-cart {
  &__image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $white;
    background-color: rgba(0, 0, 0, 0.35);
    white-space: pre-line;
  }
}

@media (min-width: 420px) {
  .cart-list-aside {
    .item {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
