@import "../../../../Variables.scss";

.promotions-bar {
  &__multiple {
    position: relative;
  }

  &__list {
    padding-right: 25vw;
  }

  &__view-more-button {
    position: absolute;
    color: $status-blue;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 420px) {
  .promotions-bar {
    &__list {
      padding-right: 104px;
    }
  }
}
