@import "../../../../Variables.scss";

.promotions-bar {
  &__link {
    color: $main-color;
  }

  &__multiple {
    position: relative;
  }

  &__list {
    flex: 1;
    width: 75%;
  }

  &__view-more-button {
    color: $status-blue;
    line-height: 1.82rem;
    border: none;
  }

  &__details.active {
    z-index: 200;
  }

  &__details-container {
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
  }

  &__details-content {
    li:last-child {
      border-bottom: none;
    }
  }
}
