@import "../Variables.scss";

/* Deliver To */
.deliver-to-entry {
  padding: 8px;
  width: 100%;
  background-color: $white;
  z-index: $z-index-base;

  > .icon {
    display: flex;
  }

  &__content {
    max-width: 93%;
    width: 100%;
  }

  &__label {
    display: inline-block;
  }

  &__detail-container {
    width: 94%;
  }

  &__base-info {
    width: 100%;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  &__remarks {
    width: 100%;
  }
}
/* end of Deliver To */
