@import "../Variables";

.error-toast {
  position: relative;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  color: $white;
  z-index: $z-index-base;

  &__error {
    background-color: $status-red;
  }

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: $z-index-base * 2;
  }
}
