@import "../Variables.scss";

.header {
  top: 0;
  width: 100%;
  z-index: $z-index-base;
  background-color: $white;

  &__content {
    width: 100%;
  }

  &__store-name {
    max-width: 100%;
  }

  &__title,
  &__store-info {
    max-width: 85%;

    h1 {
      margin: 0;
    }
  }

  &__title {
    max-height: 20px;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  &__store-address {
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}
