.live-chat {
  opacity: 0.5;

  &__loading-text {
    font-size: 1.1rem;
    letter-spacing: 0.6px;
    color: #00b0ff;
  }

  &__loader {
    color: #00b0ff;
    margin: 2.4vw;
  }
}

@media (min-width: 420px) {
  .live-chat {
    &__loader {
      margin: 8px;
    }
  }
}
