@import "../Variables.scss";

.location-picker {
  &__search-box {
    border-bottom: 8px solid $gray-5;
  }

  &__input {
    height: 54px;
  }

  &__detected-position {
    overflow: hidden;
  }

  &__button-detected-position {
    height: 50px;
  }

  &__detected-position-address,
  &__historical-container {
    width: 85%;
  }

  &__address-summary,
  &__address-title,
  &__address-detail,
  &__address-detail-text,
  &__result-item {
    width: 100%;
  }

  &__detected-position-address {
    overflow: hidden;
  }

  &__historical-address {
    overflow: hidden;
  }
}
