@import "../Variables.scss";

.location-picker {
  &__search-box {
    border-bottom: 8px solid $gray-5;
  }

  &__input {
    height: 54px;
  }

  &__detected-position {
    overflow: hidden;
  }

  &__button-detected-position {
    height: 50px;
  }

  &__detected-position-address,
  &__historical-container {
    width: 85%;
  }

  &__address-summary,
  &__address-title,
  &__address-detail,
  &__address-detail-text,
  &__result-item {
    width: 100%;
  }

  &__result-item > &__address-summary {
    padding-left: 3.8vw;
    padding-right: 3.8vw;
  }

  &__detected-position-address {
    overflow: hidden;
  }

  &__historical-address {
    overflow: hidden;
  }
}

@media (min-width: 420px) {
  .location-picker {
    &__result-item > &__address-summary {
      padding-left: 8px * 2;
      padding-right: 8px * 2;
    }
  }
}
