@import "../Variables.scss";

.modal {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: $z-index-base;

  &__content {
    max-width: 85%;
    max-height: 80%;
    width: 100%;
    background-color: $white;
    overflow: hidden;
  }

  &__body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
