@import "../Variables.scss";

.otp-modal {
  top: 0;
  height: 100vh;
  background-color: $gray-6;

  &__header {
    background-color: $gray-6;
    border-bottom-color: $gray-6;
  }

  &__container {
    height: 100%;
  }

  &__image-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
  }

  &__group {
    margin-left: auto;
    margin-right: auto;
    max-width: 7.8em;
    overflow: hidden;
  }

  &__input {
    height: 56px;
    line-height: 42px;
    letter-spacing: 0.8em;
    text-indent: 0.8em;
  }

  &__resend-tip {
    color: $gray-3;
  }

  &__button-resend:not(:disabled) {
    color: $status-blue;
  }
}
