@import "../Variables.scss";

.phone-view {
  &__label {
    display: block;
  }

  &__input-error {
    border-color: #e15343;
    border-width: 1px;
  }

  &__error-message {
    color: #e15343;
  }

  .PhoneInput .PhoneInputInput,
  .PhoneInput .PhoneInputInput:focus {
    height: 54px;
  }
}
