@import "../../../../../../Variables.scss";

.order-cancellation-reasons {
  height: auto;

  &__container {
    bottom: 0;
  }

  &__content-wrapper {
    border-top: 1px solid $gray-4;
    border-bottom: 1px solid $gray-4;
  }

  &__specify-reason {
    overflow: hidden;

    textarea {
      border: none;
      width: 100%;
    }
  }
}
