$font-size-base: 14px;
$main-color: #303030;
$white: #FFFFFF;
$dark: #2c2c2c;
$red: #FF5821;
$yellow: #AB8D3F;
$green: #8bc34a;
$gray-1: #8D90A1;
$gray-2: #909090;
$gray-3: #DEDEDF;
$gray-4: #EFEFEF;
$gray-5: #FAFAFA;
$blue: #31728D;
$link-blue: #2196F3;
$theme-color: #FF9419;
$gray-1-active: #4f515f;
$theme-color-active: #DE8115;
$font-weight-light: 300;
$font-weight-bold: 600;
$border-radius-base: 4px;

@import "~normalize.css/normalize.css";

* {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  font-weight: normal;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  background: $white;
  font-size: $font-size-base;
  color: $main-color;
  font-weight: $font-weight-bold;

  font-family: system-ui, -apple-system, Roboto, Ubuntu, Helvetica, Arial, sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  color: $main-color;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.block-scroll {
    overflow: hidden;
  }
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border-color: transparent;

  &:disabled {
    color: $white;
    background-color: $gray-3;
  }
}

img {
  max-width: 100%;
}

.reset-font-size {
  font-size: 0;
}

.link {
  color: $link-blue;
}

.input {
  padding: 6px 12px;
  border: 1px solid $gray-3;
  line-height: 24px;
  height: 40px;
  outline: none;
  box-shadow: none;

  &__block {
    display: block;
    width: 100%;
  }

  &__group {
    margin: 15px 0;
  }

  &__label {
    display: block;
    margin: 10px 0;
    text-align: left;
  }
}

.button {
  &__fill {
    border: 0;
    height: 14vw;
    color: $white;
    background-color: $theme-color;
  }

  &__block {
    width: 100%;
  }

  &__outline {
    border: 1px solid;
    height: 14vw;
    background-color: transparent;
  }
}

.reset-button {
  border: 0;
  outline: none;
  box-shadow: none;
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.border-radius-base {
  border-radius: 4px;
}

.text-middle {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.main-section {
  position: relative;
  width: 100%;
  background-color: $gray-4;
}

.loader {
  color: #f6f6f6;
  font-size: 16px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;

  &.theme {
    color: $theme-color;
  }

  &.page-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 40px;
  }
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container {
  min-height: 100%;
}

.table-ordering {
  @extend .flex;
  @extend .flex-center;

  padding-top: 50px;
  min-height: 100%;

  &__prompt-page {
    @extend .main-section;

    padding: 5vh 0;
    background-color: $white;
  }
}

.cash-back,
.loyalty {
  @extend .flex;
  @extend .flex-center;

  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__home {
    padding: 8.7vh 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
  }

  &__money {
    display: inline-block;
    margin-bottom: 4vw;
    font-size: 3.5rem;
    font-weight: $font-weight-light;
    color: $white;
  }
}

.redeem {
  &__button-container {
    padding: 4vw;
  }

  &__button {
    border-color: $white;
    color: $white;
  }

  &__list {
    display: block;
    text-align: left;
    padding-left: 20px;
    margin: 0 auto;
    text-align: left;
    max-width: 270px;
    list-style-type: decimal;
  }

  &__item {
    margin: 5px 0;
    line-height: 1.4em;
  }
}

.phone-view-form {
  &__label {
    @extend .font-weight-bold;

    display: block;
    padding: 5px 0;
    margin: auto;
    max-width: 450px;
    font-size: 1.3rem;
    line-height: 1.7rem;

    span {
      font-size: inherit;
    }

    ~ .link__block {
      margin: 10px 0;
    }
  }

  &__button {
    font-size: 1.15rem;
  }
}

.w-h-same {
  content: "";
  display: block;
  padding: 50% 0;
  height: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 3.8vw;
  height: 50px;
  background-color: $gray-5;

  &__image-container {
    @extend .reset-font-size;

    position: relative;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;

    &::before {
      @extend .w-h-same;
    }

    svg,
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill: $gray-2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    @extend .text-uppercase;

    display: inline-block;
    padding: 0 5.4vw;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer-operation {
  position: fixed;
  padding: 3.8vw;
  left: 0;
  bottom: 0;
  z-index: 200;
  width: 100%;
  background-color: $dark;

  &.opt {
    background-color: $gray-4;
  }

  .button {
    @extend .border-radius-base;
  }
}

.prompt-page {
  &__image-container {
    margin: auto;
    max-width: 50%;
  }

  &__content {
    margin: 4vh 0;
  }

  &__title {
    margin: 3vh 0;
    font-size: 2.2rem;
    color: $gray-2;
  }

  &__paragraphs {
    margin: auto;
    font-size: 1.2rem;
    width: 75%;
    max-width: 280px;

    p {
      font-size: inherit;
      line-height: 1.4em;
    }
  }
}

.form {
  &__error-message {
    display: inline-block;
    margin: 10px 0;
    color: $red;
    font-size: 0.8rem;
  }
}

.top-message {
  display: block;
  padding: 9vw;
  width: 100%;
  color: $white;
  z-index: 1;

  &.primary {
    background-color: $theme-color;
  }

  &.error {
    background-color: $red;
  }

  &__text {
    @extend .font-weight-bold;

    line-height: 1.4em;
  }
}

.logo-default {
  &__image-container {
    @extend .reset-font-size;

    position: relative;
    display: inline-block;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $white;

    &::before {
      @extend .w-h-same;
    }

    svg,
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill: $white;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    padding: 15px 0;
    line-height: 1em;
    color: $yellow;
  }
}

.location {
  margin: 3.7vh 0;

  svg {
    @extend .text-middle;

    fill: $gray-1;
  }

  &__text {
    margin: 0 10px;
    font-size: 1.2rem;
    color: $white;
  }
}

.asdie-section {
  position: fixed;
  bottom: 0;
  left: 0;

  &.full {
    top: 0;
    width: 100%;

    .aside-bottom {
      @extend .asdie-section.full;

      top: 0;
      padding-top: 50px;
      border-radius: 0;
    }

    .activity {
      max-height: 100%;
      overflow: auto;
      padding-bottom: 50px;
    }
  }
}

.aside-bottom {
  @extend .asdie-section;

  padding: 0 16px;
  width: 100%;
  background-color: $white;
  overflow-y: hidden;
  border-radius: 12px 12px 0 0;

  &.not-full {
    padding: 16px;
  }

  &__slide-button {
    @extend .reset-font-size;

    text-align: center;
    display: block;
    padding: 9px;
    margin: 0 auto;

    &::before {
      content: "";
      display: inline-block;
      height: 4px;
      width: 28px;
      border-radius: 2px;
      background-color: $gray-3;
    }
  }

  &__title {
    padding: 16px 0;
    font-size: 1.3rem;
  }
}

.react-phone-number-input {
  margin: 8px 0;

  .react-phone-number-input__country--native {
    // display: none;
  }

  .react-phone-number-input__input,
  .react-phone-number-input__input:focus {
    @extend .input;
    @extend .border-radius-base;
    @extend .font-weight-bold;

    text-align: center;
    color: $main-color;
  }

  .react-phone-number-input__icon {
    border: 0;
  }

  ~ .form__error-message {
    margin-top: 0;
    margin-left: 3.4em;
    margin-right: 3.4em;
  }
}

.full-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 30;

  .header::after {
    content: "";
    display: inline-block;
    width: 36px;
    height: 100%;
  }

  &__image-container {
    max-width: 45%;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  &__content {
    padding: 4vh 5vw;
    margin: 50px 0;
  }

  &__title {
    @extend .font-weight-bold;

    margin: 15px 0;
    font-size: 1.4rem;
    line-height: 1.4em;
  }
}

.otp-resend {
  color: $link-blue;
  font-weight: bold;
  margin-top: 2rem;

  &:disabled {
    background-color: #fff;
    color: $gray-2;
  }
}

.otp-input {
  > div {
    padding: 0 2vw;
  }

  input {
    @extend .border-radius-base;

    border: 1px solid $gray-3;
    margin: 2px;
    font-size: 14vw;
    color: $gray-2;
  }
}

.activity {
  margin: -4px -16px;
  padding: 0 16px;
  max-height: 140px;
  overflow: hidden;

  &__item {
    @extend .border-radius-base;

    padding: 4vw 6vw;
    margin: 4px 0;
    border: 1px solid $gray-3;

    summary {
      padding: 0 4vw;
      width: 65vw;
    }
  }

  &__icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    fill: $theme-color;
    opacity: 0.6;

    svg {
      width: 100%;
    }
  }

  &__title {
    margin: 5px 0;

    * {
      @extend .font-weight-bold;

      display: inline-block;
      font-size: 1.5rem;
    }
  }

  &__time {
    margin: 5px 0;
    color: $gray-2;
  }
}

@media (max-width: 374px) {
  html {
    font-size: $font-size-base * 0.85;
  }
}