.RewardsDescription {
  @apply tw-flex tw-flex-col tw-items-center tw-px-12 sm:tw-px-12px tw-pb-24 sm:tw-pb-24px;
}

.RewardsDescriptionGetRewardsContainer {
  @apply tw-text-center tw-space-y-16 sm:tw-space-y-16px;
}

.RewardsDescriptionGetRewardsTitle {
  @apply tw-text-center tw-text-2xl tw-leading-normal tw-text-gray-50 tw-font-bold;
}

.RewardsDescriptionTicketList {
  @apply tw-flex tw-items-center tw-flex-wrap tw-gap-12 sm:tw-gap-12px;
}

.RewardsDescriptionTicketItem {
  @apply tw-flex-shrink-0;
}

.RewardsDescriptionTicketContainer {
  @apply tw-shadow-none;
}

.RewardsDescriptionTicket {
  min-height: 66px;
}

.RewardsDescriptionTicketStub {
  @apply tw-flex-col tw-pl-8 sm:tw-pl-8px tw-pr-12 sm:tw-pr-12px;

  &::before {
    background: linear-gradient(180deg, #000000 0 60%, transparent 0 100%);
    background-size: 4px 10px;
    background-position: 0 0;
  }
}

.RewardsDescriptionTicketValue {
  @apply tw-text-2xl tw-leading-normal tw-font-bold;
}

.RewardsDescriptionTicketText {
  @apply tw-leading-normal;
}

.RewardsDescriptionPointsTicket {
  @apply tw-border-blue-dark tw-text-gray-50 tw-bg-blue-dark;

  &::before,
  &::after {
    @apply tw-border-blue-darkest tw-bg-blue-darkest;
  }
}

.RewardsDescriptionCashbackTicket {
  @apply tw-border-yellow-dark tw-text-gray-900 tw-bg-yellow-dark;

  &::before,
  &::after {
    @apply tw-border-blue-darkest tw-bg-blue-darkest;
  }
}

.RewardsDescriptionGetRewardsDescription {
  @apply tw-text-center tw-text-2xl tw-leading-normal tw-text-gray-50;
}

.RewardsDescriptionGetRewardsDirectionArrow {
  @apply tw-inline-flex;
}

.RewardsDescriptionImageContainer {
  width: 40%;
  max-width: 150px;

  figure {
    @apply tw-bg-transparent;
  }
}

.RewardsDescriptionPrompt {
  @apply tw-text-center tw-py-12 sm:tw-py-12px tw-text-2xl tw-leading-normal tw-font-bold tw-text-gray-50;

  max-width: 210px;
}

.RewardsDescriptionIconList {
  @apply tw-flex tw-items-center tw-gap-x-24 sm:tw-gap-x-24px;
}

.RewardsDescriptionIconItem {
  @apply tw-flex tw-flex-col tw-items-center tw-gap-y-4 sm:tw-gap-y-4px;
}

.RewardsDescriptionIconContainer {
  width: 10.666666%;
  width: 40px;

  figure {
    @apply tw-bg-transparent;
  }
}

.RewardsDescriptionItemText {
  @apply tw-leading-normal tw-text-gray-50;
}
