@mixin buttonHeight($size: null, $type: null) {
  @if ($type == "text") {
    height: auto;
  } @else if $size == "small" {
    height: 40px;
  } @else {
    height: 50px;
  }
}

@mixin buttonStyle($type: null, $color: "orange") {
  @apply tw-transition; /* https://tailwindcss.com/docs/transition-property */

  .buttonContent {
    @apply tw-font-bold;
  }

  /* tw-tracking-wide: letter spacing */
  @if ($type == "text") {
    @apply tw-p-8 sm:tw-p-8px tw-tracking-wide;
  } @else {
    @apply tw-py-12 sm:tw-py-12px tw-px-16 sm:tw-px-16px tw-tracking-wider;
  }

  @if ($type == "primary") {
    @apply tw-text-white
    tw-bg-#{$color} hover:tw-bg-#{$color}-dark
    focus:tw-bg-#{$color} focus:hover:tw-bg-#{$color}-dark focus:active:tw-bg-#{$color}-light
    active:tw-bg-#{$color}-light disabled:tw-bg-gray-400;
  } @else if ($type == "secondary") {
    @apply tw-border-#{$color} tw-bg-white tw-text-#{$color}
      hover:tw-border-#{$color}-dark hover:tw-text-#{$color}-dark
      focus:tw-border-#{$color} focus:tw-text-#{$color} focus:hover:tw-border-#{$color}-dark focus:hover:tw-text-#{$color}-dark focus:active:tw-border-#{$color}-light focus:active:tw-text-#{$color}-light
      active:tw-border-#{$color}-light active:tw-text-#{$color}-light
      disabled:tw-border-gray-400 disabled:tw-text-gray-400;
  } @else if ($type == "text") {
    @if ($color == "gray") {
      @apply tw-bg-transparent tw-text-gray
      hover:tw-text-gray-900
      focus:tw-text-gray focus:hover:tw-text-gray-900 focus:active:tw-text-gray-700
      active:tw-text-gray-700
      disabled:tw-text-gray-400;
    } @else {
      @apply tw-bg-transparent tw-text-#{$color}
      hover:tw-text-#{$color}-dark
      focus:tw-text-#{$color} focus:hover:tw-text-#{$color}-dark focus:active:tw-text-#{$color}-light
      active:tw-text-#{$color}-light
      disabled:tw-text-gray-400;
    }
  }
}

.button {
  @apply tw-flex tw-items-center tw-justify-center tw-p-8 sm:tw-p-8px
  tw-border tw-border-transparent tw-border-solid tw-rounded/* border */
  tw-cursor-pointer disabled:tw-cursor-default;

  .buttonContent {
    @apply tw-leading-normal;

    font-size: inherit;

    &:global(.beep-text-reset) {
      font-size: 0;
    }
  }

  &:global(.size-normal) {
    @include buttonHeight();
  }

  &:global(.size-small) {
    @include buttonHeight("small");
  }

  .iconWrapper {
    @apply tw-inline-block tw-h-0 tw-align-middle tw-relative tw-mr-6 sm:tw-mr-6px;
  }

  .iconInnerWrapper {
    display: inline-flex;
    transform: translateY(-50%);

    & > * {
      vertical-align: top;
    }
  }

  &:global(.type-primary-default) {
    @include buttonStyle("primary", "orange");
  }

  &:global(.type-primary-danger) {
    @include buttonStyle("primary", "red");
  }

  &:global(.type-primary-info) {
    @include buttonStyle("primary", "blue");
  }

  &:global(.type-secondary-default) {
    @include buttonStyle("secondary", "orange");
  }

  &:global(.type-secondary-danger) {
    @include buttonStyle("secondary", "red");
  }

  &:global(.type-secondary-info) {
    @include buttonStyle("secondary", "blue");
  }

  &:global(.type-text-ghost) {
    @include buttonHeight(null, "text");
    @include buttonStyle("text", "gray");
  }

  &:global(.type-text-default) {
    @include buttonHeight(null, "text");
    @include buttonStyle("text");
  }

  &:global(.type-text-danger) {
    @include buttonHeight(null, "text");
    @include buttonStyle("text", "red");
  }

  &:global(.type-text-info) {
    @include buttonHeight(null, "text");
    @include buttonStyle("text", "blue");
  }
}
