.NewMemberContent {
  @apply tw-relative tw-flex tw-flex-col tw-items-center tw-justify-center;
}

.NewMemberIcon {
  @apply tw-mb-8 sm:tw-mb-8px tw-rounded-full tw-overflow-hidden;

  width: 80px;
  height: 80px;

  > figure {
    @apply tw-bg-transparent;
  }
}

.NewMemberTitle {
  @apply tw-flex tw-justify-center tw-text-center tw-m-auto tw-text-xl tw-leading-normal tw-text-gray-800 tw-font-bold;

  max-width: 264px;
  word-break: break-word;
}

.NewMemberContent {
  @apply tw-leading-loose;
}

.NewMemberCelebrationAnimateImageContainer {
  @apply tw-absolute tw-top-0 tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-m-auto tw-pointer-events-none;

  max-width: 414px;
  z-index: 400;
}

.NewMemberCelebrationAnimateImage {
  @apply tw-pointer-events-none;
}
