.SearchContainer {
  @apply tw-flex tw-flex-1 tw-items-center tw-border tw-border-solid tw-border-gray-200 tw-bg-gray-200 tw-rounded-2xl tw-overflow-hidden;

  height: 40px;

  &:global(.not-allow-clear)::after {
    @apply tw-inline-flex tw-p-8 sm:tw-p-8px;

    content: "";
  }
}

.SearchLoader {
  @apply tw-m-8 sm:tw-m-8px tw-text-2xl tw-text-gray-500;
}

.SearchClearButtonContent {
  font-size: 0;
}
