.MemberCardSection {
  @apply tw-p-16 sm:tw-p-16px;
}

.MemberCard {
  @apply tw-relative tw-rounded-xl;

  &::before {
    @apply tw-block tw-top-0 tw-left-0 tw-w-full;

    content: "";
    padding-top: 52.478134%;
  }
}

.MemberCardStoreName {
  @apply tw-absolute tw-left-0 tw-top-0 tw-m-12 sm:tw-m-12px tw-leading-loose tw-text-base tw-font-bold;
}

.MemberCardLevelContainer {
  @apply tw-absolute tw-right-0 tw-bottom-0 tw-flex tw-items-center tw-m-12 sm:tw-m-12px tw-space-x-12 sm:tw-space-x-12px;
}

.MemberCardLevelName {
  @apply tw-text-xl tw-font-black tw-capitalize;
}

.MemberCardLevelIcon {
  @apply tw-rounded-full;

  width: 64px;
  height: 64px;

  > figure {
    @apply tw-bg-transparent;
  }
}

.MemberCardMembershipTierProgress {
  @apply tw-flex tw-items-center tw-justify-between;
}

.MemberCardTierLevelItemIcon {
  @apply tw-inline-flex tw-flex-shrink-0 tw-rounded-full tw-bg-gray-50;

  padding: 1.5px;
  width: 30px;
  height: 30px;

  &__active {
    @apply tw-bg-black;
  }

  > svg {
    @apply tw-h-full;
  }

  > figure {
    @apply tw-bg-transparent;
  }
}

.MemberCardTierLevelItemIconPlatinum {
  @apply tw-bg-gray-700;
}

.MemberCardTierLevelItemProgress {
  @apply tw-relative tw-flex-1 tw-bg-gray-50;

  height: 8px;
  margin-left: -1.5px;
  margin-right: -1.5px;
}

.MemberCardTierItemLevelProgressFill {
  @apply tw-absolute tw-top-0 tw-left-0 tw-inline-block tw-bg-black tw-h-full;

  &__notAchieved {
    @apply tw-rounded-r;
  }
}

.MemberCardTierItemLevelProgressFillPlatinum {
  @apply tw-bg-gray-700;
}

.MemberCardTierLevelItem {
  z-index: 1;
}
