.imageFigure {
  @apply tw-overflow-hidden tw-bg-gray-100;
  position: relative;
}

.imageFigureLoader {
  @apply tw-text-xl tw-text-gray-600 tw-block tw-absolute tw-inset-0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  width: 1.2857rem;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
