@import "../../../../../Variables.scss";

.variation-selector {
  &__list {
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;
    max-width: 80%;
  }

  &__button {
    min-width: 70px;
    height: 38px;
    border: 0;

    &:disabled {
      color: $gray-2;
      background-color: $gray-6;
    }
  }

  &__button-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  }
}
