@import "../../../../../Variables.scss";

.stripe-cvc-input-wrapper {
  border: 1px solid $gray-4;
  padding: 0 16px;
  position: relative;
  border-radius: 4px;

  .stripe-cvc-card-image {
    position: absolute;
    right: 12px;
    top: 0;
    width: 34px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
