.loader {
  @apply tw-absolute tw-text-2xl tw-text-gray-600;
}
.addressDropdownDrawerInitializing {
  @apply tw-p-0;

  :global(.drawer-animation__children) {
    @apply tw-relative tw-flex tw-items-center tw-justify-center;
  }
}

.addressDropdownDrawer {
  @apply tw-p-0;

  .header {
    @apply tw-border-b-0;
  }
}

.addressDropdownDrawerHeader {
  @apply tw-border-0;
}

.addressDropdownDrawerEmpty {
  @apply tw-relative tw-flex tw-flex-col tw-items-center tw-justify-center;

  top: 10vh;
}

.addressDropdownDrawerEmptyImage {
  @apply tw-my-8 sm:tw-my-8px;

  width: 30%;
  max-width: 120px;
}

.addressDropdownDrawerEmptyDescription {
  @apply tw-p-8 sm:tw-p-8px tw-leading-relaxed tw-font-bold tw-text-gray-700;
}

.addressDropdownDrawerItemButton {
  @apply tw-flex tw-w-full tw-py-8 sm:tw-py-8px tw-border-0 tw-bg-transparent tw-cursor-pointer;

  &:disabled {
    @apply tw-cursor-default;

    .addressDropdownDrawerItemButtonTitle,
    .addressDropdownDrawerItemButtonDeliveryTo {
      @apply tw-opacity-25;
    }
  }
}

.addressDropdownDrawerItem:nth-child(n + 2) .addressDropdownDrawerItemButton {
  @apply tw-border-t tw-border-gray-300;
}

.addressDropdownDrawerItemButtonTitle {
  @apply tw-mx-8 sm:tw-mx-8px tw-leading-relaxed tw-font-bold;
}

.addressDropdownDrawerItemButtonDeliveryTo {
  @apply tw-text-left tw-mx-8 sm:tw-mx-8px tw-my-4 sm:tw-my-4px tw-text-sm tw-leading-loose tw-text-gray-700;
}
