@import "../../../Variables.scss";

.ordering-location {
  height: 100vh;

  .location-picker {
    padding-bottom: 120px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  &__error-screen-image {
    max-width: 90%;
  }

  &__error-screen-message {
    color: $gray-2;
  }
}
