@import "../../../Variables";

.login {
  &__container {
    height: 100%;
    background-color: $white;
  }

  &__header {
    border-bottom-width: 0;
  }

  &__button-link {
    color: inherit;
  }

  &__terms-privacy {
    margin-bottom: 30vw;
  }
}

@media (min-width: 770px) {
  .login {
    &__terms-privacy {
      margin-bottom: 90px;
    }
  }
}
