@import "../../../Variables";

.login {
  background-color: rgba(0, 0, 0, 0);

  &__container {
    bottom: 0;
    border-radius: 12px 12px 0 0;
    background-color: $white;
  }

  &__button-link {
    color: inherit;
  }

  &__terms-privacy {
    margin-bottom: 30vw;
  }
}

@media (min-width: 770px) {
  .login {
    &__terms-privacy {
      margin-bottom: 90px;
    }
  }
}
