@import "../../../Variables";

.login {
  background-color: rgba(0, 0, 0, 0);

  &__container {
    bottom: 0;
    border-radius: 12px 12px 0 0;
    background-color: $white;
  }

  &__button-link {
    color: inherit;
  }

  &__terms-privacy {
    margin-bottom: 30vw;
  }
}

.otp-modal__content {
  max-width: 304px;
}

.form__input.otp-modal__input {
  height: 56px;
  width: 7.6em;
  line-height: 42px;
}

.otp-modal__button-resend-sms {
  border: 1px solid #000;
  width: 220px;
}

@media (min-width: 770px) {
  .login {
    &__terms-privacy {
      margin-bottom: 90px;
    }
  }
}
