// @import "Common";
@import "./Variables.scss";

.back-drop {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -100;
  background-color: rgba($color: $black, $alpha: 0.5);

  &.cover {
    display: block;
    top: 50px;
    background-color: rgba($color: $white, $alpha: 0.5);
    z-index: 290;
  }
}

.top-message {
  display: block;
  position: relative;
  padding: 9vw;
  width: 100%;
  color: $white;
  z-index: 1;

  &.primary {
    background-color: $theme-color;
  }

  &.error {
    background-color: $status-red;
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 300;
    padding: 5vw;
  }

  &__text {
    line-height: $line-height-base;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4vw;

    svg {
      fill: $white;
    }
  }
}

.main-section {
  position: relative;
  width: 100%;
  background-color: $gray-5;
}

.succeed-animation {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  &.active {
    display: block;
  }
}

.has-header-container {
  padding-top: 50px;
  min-height: 100%;
}

.table-ordering {
  &__cashback-receipt {
    margin-top: 50px;
  }
}

.loyalty {
  .aside {
    background-color: transparent;
  }

  .location {
    margin: 3vw 0;
  }

  &__claim,
  &__home,
  &__activities {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $main-color;
  }

  &__content {
    width: inherit;
  }

  &__activities &__content {
    max-height: 100%;
    overflow: auto;
  }

  .top-message {
    & ~ .loyalty__claim,
    & ~ .loyalty__home,
    & ~ .loyalty__activities {
      padding: 20px;
    }
  }

  &__money-info {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 10px;
      margin: auto;
      width: 40px;
      height: 40px;
      fill: $gray-2;
    }
  }

  &__money {
    display: inline-block;
    padding: 6px 0;
    font-size: 3.5rem;
    font-weight: $font-weight-light;
    color: $white;
  }
}

.redeem {
  &__button {
    color: $gray-2;
  }

  &__list {
    display: block;
    text-align: left;
    padding-left: 20px;
    margin: 0 auto;
    text-align: left;
    max-width: 270px;
    list-style-type: decimal;
  }

  &__item {
    margin: 5px 0;
    line-height: $line-height-base;
  }
}

.modal {
  // @extend .back-drop;

  left: 0;
  z-index: 300;

  &.align-middle {
    // @extend .flex;
    // @extend .flex-column;
    // @extend .flex-middle;
    // @extend .flex-center;
  }

  &__content {
    // @extend .border-radius-base;

    margin: 30px auto;
    max-width: 80%;
    max-height: 80%;
    width: 100%;
    background-color: $white;
    overflow: hidden;
  }

  &__header {
    padding: 4.8vw;
    font-size: 1.2rem;

    h4 {
      font-size: inherit;
    }
  }

  &__body {
    max-height: 70vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__detail {
    position: relative;
    padding: 3.8vw 0;
  }

  &__title,
  &__text {
    padding: 0 4.8vw;
    line-height: 1.5em;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__text {
    margin: 0 0 3.8vw;
  }

  &__footer {
    padding: 0 15px 15px;
  }
}

.hint-modal {
  &__header {
    font-size: 1.4rem;
  }
}

.animation__slide-up {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);

  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.aside-content {
  // @extend .border-radius-base;

  background-color: $white;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.aside {
  display: block;
  opacity: 0;

  transition: opacity 0.01s 0.3s, z-index 0.01s 0.3s;
  -webkit-transition: opacity 0.01s 0.3s, z-index 0.01s 0.3s;

  &__section-container {
    padding: 2.4vw;

    &.bottom {
      padding: 3.5vw 5.5vw;
    }
  }

  &__product-detail,
  &__product-description {
    display: -webkit-flex;
    display: flex;
  }

  &.active {
    opacity: 1;
    z-index: 100;

    transition: opacity 0.01s, z-index 0.01s;
    -webkit-transition: opacity 0.01s, z-index 0.01s;

    > .cart-pane,
    > .product-detail,
    > .product-description,
    > .form-text {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
    }
  }
}

.cart-pane {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 60%;

  &__operation {
    padding: 2.4vw;
  }

  &__amount-container {
    svg {
      vertical-align: middle;
      fill: $status-blue;
    }

    svg ~ .cart-pane__amount-label {
      margin-left: 8px;
    }
  }

  &__amount-label {
    color: $gray-2;
  }
}

.nav-pane {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  bottom: 0;
  padding: 15px 0;
  max-height: 80%;
  width: 100%;

  &__link {
    padding: 4vw 5vw;
    background-color: transparent;
    box-shadow: none;
    outline: none;
  }

  &__label {
    display: inline-block;
    max-width: 90%;
  }

  &__item.active {
    background-color: $gray-5;
  }
}

.product-detail {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  bottom: 0;
  width: 100%;
  max-height: 90%;
  overflow-y: hidden;

  &__options-container {
    padding: 4vw;
    max-height: 30vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__options ~ &__options {
    margin-top: 5vw;
  }

  &__options-title {
    margin: 5px 0;

    & + span {
      display: block;
      margin-bottom: 5px;
    }
  }

  .button__fill {
    // @extend .border-radius-base;
  }
}

.product-description {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  width: 100%;

  &__image-container {
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;

    figure {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__back-icon {
    position: absolute;
    top: 0;
    z-index: 2;
    display: inline-block;
    padding: 8px;
    margin: 10px;
    width: 12vw;
    height: 12vw;
    max-width: 40px;
    max-height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    fill: $white;
    border-radius: 50%;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__dot-list {
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
  }

  &__dot {
    display: inline-block;
    margin: 0 2px;
    width: 8px;
    height: 8px;
    border: 1px solid $white;
    background-color: transparent;
    border-radius: 50%;

    &.active {
      background-color: $white;
    }
  }

  &.transition {
    background-color: transparent;

    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;

    .aside__fix-bottom,
    .product-description__back-icon {
      opacity: 0;
    }
  }
}

.form-text {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4vw;
}

.aside-section {
  position: fixed;
  bottom: 0;
  left: 0;

  &.full {
    top: 0;
    width: 100%;
    z-index: 100;

    .aside-bottom {
      // @extend .aside-section.full;

      padding-top: 50px;
      border-radius: 0;
    }
  }
}

.aside-bottom {
  // @extend .aside-section;

  padding: 0 2.4vw;
  width: 100%;
  background-color: $white;
  overflow-y: hidden;
  border-radius: 12px 12px 0 0;

  &.not-full {
    padding: 16px;
  }

  &__slide-button {
    text-align: center;
    display: block;
    padding: 9px;
    margin: 0 auto;

    &::before {
      content: "";
      display: inline-block;
      height: 4px;
      width: 28px;
      border-radius: 2px;
      background-color: $gray-4;
    }
  }

  &__title {
    padding: 10px 0;
    font-size: 1.3rem;
    color: $main-color;
  }
}

.full-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 100;

  &__image-container {
    max-width: 45%;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  &__content {
    padding: 4vh 5vw;
    margin: 50px 0;
  }

  &__title {
    margin: 20px 0;
    font-size: 1.4rem;
    line-height: $line-height-base;
  }
}

.logo-default {
  &__image-container {
    position: relative;
    display: inline-block;
    margin: 6px 0;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $white;

    &::before {
      // @extend .w-h-same;
    }

    svg,
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill: $white;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    padding: 6px 0;
    line-height: $line-height-base;
    color: $logo-default-title;
  }
}

.customer-numbers {
  padding: 4.8vw;
}

.location {
  svg {
    fill: $gray-2;
  }

  &__text {
    margin: 0 10px;
    font-size: 1.2rem;
    color: $white;
  }
}

@keyframes dots {
  to {
    width: 18px;
  }
}

@-webkit-keyframes dots {
  to {
    width: 18px;
  }
}

@keyframes dotsMore {
  to {
    width: 26px;
  }
}

@-webkit-keyframes dotsMore {
  to {
    width: 26px;
  }
}

.receipt-list {
  margin: -4px -2.4vw;
  padding: 0 16px;
  overflow: hidden;
  max-height: 140px;

  &.full {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
  }

  &__item {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  }

  &__icon {
    fill: $theme-color;

    svg {
    }
  }

  &__title {
    * {
    }
  }

  &__time {
  }
}

.activity {
  &__item {
    // @extend .card-list__item;

    color: $white;

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $gray-6;

    svg {
      // @extend .card-list__icon-svg;
    }

    &.earned {
      fill: $theme-color;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.receipt-list {
  margin: -4px -2.4vw;
  padding: 0 16px;
  overflow: hidden;
  max-height: 140px;

  &.full {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
  }

  &__item {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  }

  &__icon {
    fill: $theme-color;

    svg {
    }
  }

  &__title {
    * {
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.activity {
  // @extend .card-list;

  &__item {
    // @extend .card-list__item;

    color: $white;

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $gray-6;

    svg {
      // @extend .card-list__icon-svg;
    }

    &.earned,
    &.ticket {
      fill: $theme-color;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.pre-order {
  &__modal {
    .modal__title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .modal__text {
      font-size: 16px;
    }
  }
}

main.transition {
  padding-top: 0;
}

main > section.hide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0 0;

  .operation {
    position: absolute;
  }
}

body.loading {
  .aside,
  .cartpane,
  .product-detail {
    display: none;
  }
}

.alcohol-modal {
  .modal__content {
    margin-top: 10px;
    max-width: 88%;
  }
  &__image {
    max-width: 40vw;
    margin: 0 auto;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #25272c;
    margin-bottom: 10px;
  }
  &__content {
    line-height: 20px;
    color: #303030;
    font-family: inherit;
  }
  &__buttons {
    margin-top: 30px;
    .btn {
      border: solid 1px black;
      width: 40%;
      height: 56px;
      border-radius: 5px;
      margin: 0 10px;
      font-size: 14px;
      font-weight: bolder;
    }
    .active {
      background-color: $theme-color;
      border: none;
      color: white;
    }
  }
  &__policy {
    margin: 10px auto;
    text-align: center;
    color: #8f9092;
    line-height: 22px;
  }

  a.font-weight-bolder {
    color: $gray-2;
  }
}

@media (max-width: 374px) {
  *,
  html {
    font-size: $mobile-font-size-base;
  }

  .store-info {
    &__address,
    &__phone,
    &__delivery-hours {
      padding: 0 2.4vw;
    }
  }
}

@media (min-width: 600px) {
  .back-drop,
  .aside-section,
  .full-aside__content,
  .loyalty__claim,
  .loyalty__home,
  .loyalty__activities,
  .prompt-page__button-container {
    max-width: 414px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .category__list {
    border-right: 1px solid $gray-5;
  }

  .payment-bank__card-type-icon.visa {
    max-width: 50px;
  }

  .payment-bank__card-type-icon.mastercard {
    max-width: 42px;
  }

  .payment-bank__card-type-icon.JCB {
    max-width: 30px;
  }

  .need-help__info-container,
  .aside__section-container,
  .cart-pane__operation {
    padding: 10px;
  }

  .aside-bottom {
    padding: 0 10px;
  }

  .cart__note,
  .prompt-page__button-container {
    padding: 13px;
  }

  .top-message__close-button,
  .form-text,
  .product-detail__options-container {
    padding: 16px;
  }

  .modal__detail {
    padding: 16px 0;
  }

  .modal__header {
    padding: 20px;
  }

  .modal__title,
  .modal__text {
    padding: 0 20px;
  }

  .top-message {
    padding: 34px;
  }

  .aside__section-container.bottom {
    padding: 15px 22px;
  }

  .nav-pane__link {
    padding: 16px 20px;
  }

  .payment-bank__money {
    padding: 9px 0;
  }

  .full-aside__content {
    padding: 4vh 20px;
  }

  .product-detail__options ~ .product-detail__options {
    margin-top: 20px;
  }
}

.dine {
  width: 100%;
}

.tables {
  padding: 0 10px;
  padding-bottom: 30vw;
  width: 100%;
  &__continue-button {
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: $font-weight-bolder;
    margin-top: 20px;
    margin-left: 10px;
  }
  &__list {
    // @extend .flex;
    // @extend .flex-center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin: 10px 0;
    width: 100%;
    &-item {
      width: 17vw;
      height: 15vw;
      border: 1px solid $gray-4;
      border-radius: 8px;
      margin: 10px;
      line-height: $line-height-base;
      &.active {
        background-color: $theme-color;
        color: white;
        border: none;
      }
    }

    &-table-name {
      font-weight: $font-weight-bolder;
    }
  }
}
