// @import "Common";
@import "./Variables.scss";

//.back-drop {
//  display: none;
//  position: fixed;
//  width: 100%;
//  top: 0;
//  bottom: 0;
//  z-index: -100;
//  background-color: rgba($color: $black, $alpha: 0.5);
//
//  &.cover {
//    display: block;
//    top: 50px;
//    background-color: rgba($color: $white, $alpha: 0.5);
//    z-index: 290;
//  }
//}

.table-ordering {
  &__cashback-receipt {
    margin-top: 50px;
  }
}

//.loyalty {
//  .aside {
//    background-color: transparent;
//  }
//
//  .location {
//    margin: 3vw 0;
//  }
//
//  &__claim,
//  &__home,
//  &__activities {
//    position: fixed;
//    width: 100%;
//    height: 100%;
//    background-repeat: no-repeat;
//    background-size: cover;
//    background-position: center center;
//    background-color: $main-color;
//  }
//
//  &__content {
//    width: inherit;
//  }
//
//  &__activities &__content {
//    max-height: 100%;
//    overflow: auto;
//  }
//
//  .top-message {
//    & ~ .loyalty__claim,
//    & ~ .loyalty__home,
//    & ~ .loyalty__activities {
//      padding: 20px;
//    }
//  }
//
//  &__money-info {
//    position: relative;
//
//    svg {
//      position: absolute;
//      top: 0;
//      bottom: 0;
//      padding: 10px;
//      margin: auto;
//      width: 40px;
//      height: 40px;
//      fill: $gray-2;
//    }
//  }
//
//  &__money {
//    display: inline-block;
//    padding: 6px 0;
//    font-size: 3.5rem;
//    font-weight: $font-weight-light;
//    color: $white;
//  }
//}

//.redeem {
//  &__button {
//    color: $gray-2;
//  }
//
//  &__list {
//    display: block;
//    text-align: left;
//    padding-left: 20px;
//    margin: 0 auto;
//    text-align: left;
//    max-width: 270px;
//    list-style-type: decimal;
//  }
//
//  &__item {
//    margin: 5px 0;
//    line-height: $line-height-base;
//  }
//}

.hint-modal {
  &__header {
    font-size: 1.4rem;
  }
}

.animation__slide-up {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);

  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.aside-content {
  background-color: $white;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.aside {
  display: block;
  opacity: 0;

  transition: opacity 0.01s 0.3s, z-index 0.01s 0.3s;
  -webkit-transition: opacity 0.01s 0.3s, z-index 0.01s 0.3s;

  &__section-container {
    padding: 2.4vw;

    &.bottom {
      padding: 3.5vw 5.5vw;
    }
  }

  &.active {
    opacity: 1;
    z-index: 100;

    transition: opacity 0.01s, z-index 0.01s;
    -webkit-transition: opacity 0.01s, z-index 0.01s;
  }
}

//.aside-section {
//  position: fixed;
//  bottom: 0;
//  left: 0;
//
//  &.full {
//    top: 0;
//    width: 100%;
//    z-index: 100;
//
//    .aside-bottom {
//      // @extend .aside-section.full;
//
//      padding-top: 50px;
//      border-radius: 0;
//    }
//  }
//}

//.aside-bottom {
//  // @extend .aside-section;
//
//  padding: 0 2.4vw;
//  width: 100%;
//  background-color: $white;
//  overflow-y: hidden;
//  border-radius: 12px 12px 0 0;
//
//  &.not-full {
//    padding: 16px;
//  }
//
//  &__slide-button {
//    text-align: center;
//    display: block;
//    padding: 9px;
//    margin: 0 auto;
//
//    &::before {
//      content: "";
//      display: inline-block;
//      height: 4px;
//      width: 28px;
//      border-radius: 2px;
//      background-color: $gray-4;
//    }
//  }
//
//  &__title {
//    padding: 10px 0;
//    font-size: 1.3rem;
//    color: $main-color;
//  }
//}

.full-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 100;

  &__image-container {
    max-width: 45%;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  &__content {
    padding: 4vh 5vw;
    margin: 50px 0;
  }

  &__title {
    margin: 20px 0;
    font-size: 1.4rem;
    line-height: $line-height-base;
  }
}

.location {
  svg {
    fill: $gray-2;
  }

  &__text {
    margin: 0 10px;
    font-size: 1.2rem;
    color: $white;
  }
}

@keyframes dots {
  to {
    width: 18px;
  }
}

@-webkit-keyframes dots {
  to {
    width: 18px;
  }
}

@keyframes dotsMore {
  to {
    width: 26px;
  }
}

@-webkit-keyframes dotsMore {
  to {
    width: 26px;
  }
}

.receipt-list {
  margin: -4px -2.4vw;
  padding: 0 16px;
  overflow: hidden;
  max-height: 140px;

  &.full {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
  }

  &__item {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  }

  &__icon {
    fill: $theme-color;

    svg {
    }
  }

  &__title {
    * {
    }
  }

  &__time {
  }
}

.activity {
  &__item {
    // @extend .card-list__item;

    color: $white;

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $gray-6;

    svg {
      // @extend .card-list__icon-svg;
    }

    &.earned {
      fill: $theme-color;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.receipt-list {
  margin: -4px -2.4vw;
  padding: 0 16px;
  overflow: hidden;
  max-height: 140px;

  &.full {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
  }

  &__item {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  }

  &__icon {
    fill: $theme-color;

    svg {
    }
  }

  &__title {
    * {
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.activity {
  // @extend .card-list;

  &__item {
    // @extend .card-list__item;

    color: $white;

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $gray-6;

    svg {
      // @extend .card-list__icon-svg;
    }

    &.earned,
    &.ticket {
      fill: $theme-color;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

main.transition {
  padding-top: 0;
}

main > section.hide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0 0;

  .operation {
    position: absolute;
  }
}

body.loading {
  .aside,
  .cartpane {
    display: none;
  }
}

@media (min-width: 600px) {
  .back-drop,
  .aside-section,
  .full-aside__content,
  .loyalty__claim,
  .loyalty__home,
  .loyalty__activities {
    max-width: 414px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .aside-bottom {
    padding: 0 10px;
  }

  .full-aside__content {
    padding: 4vh 20px;
  }
}

.dine {
  width: 100%;
}

.tables {
  padding: 0 10px;
  padding-bottom: 30vw;
  width: 100%;
  &__continue-button {
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: $font-weight-bolder;
    margin-top: 20px;
    margin-left: 10px;
  }
  &__list {
    // @extend .flex;
    // @extend .flex-center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin: 10px 0;
    width: 100%;
    &-item {
      width: 17vw;
      height: 15vw;
      border: 1px solid $gray-4;
      border-radius: 8px;
      margin: 10px;
      line-height: $line-height-base;
      &.active {
        background-color: $theme-color;
        color: white;
        border: none;
      }
    }

    &-table-name {
      font-weight: $font-weight-bolder;
    }
  }
}
