// @import "Common";
@import "./Variables.scss";

.back-drop {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -100;
  background-color: rgba($color: $black, $alpha: 0.5);

  &.cover {
    display: block;
    top: 50px;
    background-color: rgba($color: $white, $alpha: 0.5);
    z-index: 290;
  }
}

.top-message {
  display: block;
  position: relative;
  padding: 9vw;
  width: 100%;
  color: $white;
  z-index: 1;

  &.primary {
    background-color: $theme-color;
  }

  &.error {
    background-color: $status-red;
  }

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 300;
    padding: 5vw;
  }

  &__text {
    // @extend .text-weight-bolder;

    line-height: $line-height-base;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4vw;

    svg {
      fill: $white;
    }
  }

  // &__second-level {
  //   padding: 10px;
  //   color: $white;
  //   background-color: $status-blue;
  // }
}

.main-section {
  position: relative;
  width: 100%;
  background-color: $gray-5;
}

.succeed-animation {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  &.active {
    display: block;
  }
}

.container {
  // &.fixed {
  // .list__container {
  //   position: fixed;
  //   overflow: hidden;
  // }

  // .category-nav__vertical ~ .list__container {
  //   width: 75%;
  // }

  // .category-nav__horizontal ~ .list__container {
  //   width: 100%;
  // }
  // }
}

.has-header-container {
  padding-top: 50px;
  min-height: 100%;
}

.table-ordering {
  // @extend .flex;
  // @extend .flex-center;

  // padding-top: 50px;
  // min-height: 100%;

  &__home {
    @extend .main-section;

    transition: all 0.4s;
    -webkit-transition: all 0.4s;

    .aside {
      top: 50px;
      bottom: 18.8vw;
    }

    // .item__content {
    //   width: 70%;
    // }

    // .item__detail {
    //   width: 50vw;
    // }

    // .category__list .item__cart-ctrl {
    //   top: auto;
    //   bottom: 0;
    // }
    // .item-padding {
    //   padding: 2.4vw;
    // }
  }

  &__location {
    // @extend .main-section;

    background-color: $white;

    .item__detail {
      width: auto;
    }

    .item__title {
      font-size: 1.2rem;
    }
  }

  &__order {
    // @extend .main-section;
    padding-bottom: 155px;

    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 43.2vw;
    }

    .aside-bottom {
      bottom: 18.8vw;
    }

    // .billing__list {
    //   margin: 10px 0;
    // }

    // .billing__login {
    //   width: 80px;
    //   height: 35px;
    //   font-size: 14px;
    //   color: $white;
    //   border-radius: 4px;
    //   background-color: $theme-color;
    // }

    // .billing__item {
    //   font-size: 1.2rem;

    //   label,
    //   span {
    //     font-size: inherit;
    //   }

    //   label:not(.font-weight-bolder),
    //   span:not(.font-weight-bolder) {
    //     // @extend .text-opacity;
    //   }
    // }

    // .promotion__item {
    //   border-top: 1px solid $gray-4;
    //   border-bottom: 1px solid $gray-4;
    //   margin-top: 10px;
    //   padding-left: 5px;

    //   .tag-icon {
    //     align-self: center;
    //     margin-right: 7px;
    //     & > svg {
    //       width: 17px;
    //       height: 17px;
    //     }
    //   }
    //   .promotion__container {
    //     font-size: inherit;
    //   }
    //   .promotion-info__container {
    //     font-size: inherit;
    //   }
    //   .promotion-code__container {
    //     font-size: inherit;
    //   }
    //   // .add-promo__button {
    //   //   width: 100%;
    //   //   text-align: left;
    //   // }
    //   .dismiss__button {
    //     width: 20px;
    //     height: 20px;
    //     margin-left: 3px;
    //     border: none;
    //     svg {
    //       fill: $gray-2;
    //       width: 100%;
    //       height: 100%;
    //     }
    //   }
    //   .promotion__error {
    //     white-space: normal;
    //     color: $status-red;
    //     font-weight: $font-weight-bolder;
    //   }
    // }
  }

  &__customer {
    // @extend .main-section;

    // background-color: $white;
    // padding-bottom: 18.8vw;

    // .aside {
    //   bottom: 18.8vw;
    // }

    // .form__label {
    //   margin: 8px 0;
    // }

    // .form__label ~ .form__group {
    //   padding: 16px;
    //   border: 1px solid $gray-4;
    // }
    // .form__label ~ .form-field {
    //   margin-bottom: 16px;
    //   padding: 0;
    //   border: 0;
    //   input {
    //     font-size: 14px;
    //   }
    // }
    // .form__textarea {
    //   min-height: 0;
    //   word-break: break-word;
    //   -webkit-hyphens: auto;
    //   -ms-hyphens: auto;
    //   hyphens: auto;
    // }
  }

  &__payment {
    // @extend .main-section;
    padding-bottom: 43.2vw;
  }

  &__bank-payment {
    // @extend .main-section;
    padding-bottom: 21.6vw;
    background-color: $white;
  }

  &__thanks {
    // @extend .main-section;

    background-color: $gray-5;

    .thanks__info-container {
      padding: 0;
    }
  }

  &__receipt {
    // @extend .main-section;

    background-color: $white;

    // .billing {
    //   padding: 0 2.4vw;
    // }
  }

  &__cashback-receipt {
    margin-top: 50px;
  }
}

.loyalty {
  .aside {
    background-color: transparent;
  }

  .location {
    margin: 3vw 0;
  }

  &__claim,
  &__home,
  &__activities {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $main-color;
  }

  &__content {
    width: inherit;
  }

  &__activities &__content {
    max-height: 100%;
    overflow: auto;
  }

  .top-message {
    & ~ .loyalty__claim,
    & ~ .loyalty__home,
    & ~ .loyalty__activities {
      padding: 20px;
    }
  }

  &__money-info {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 10px;
      margin: auto;
      width: 40px;
      height: 40px;
      fill: $gray-2;
    }
  }

  &__money {
    display: inline-block;
    padding: 6px 0;
    font-size: 3.5rem;
    font-weight: $font-weight-light;
    color: $white;
  }
}

.redeem {
  &__button {
    color: $gray-2;
  }

  &__list {
    display: block;
    text-align: left;
    padding-left: 20px;
    margin: 0 auto;
    text-align: left;
    max-width: 270px;
    list-style-type: decimal;
  }

  &__item {
    margin: 5px 0;
    line-height: $line-height-base;
  }
}

// .store-list {
//   // @extend .flex;
//   // @extend .flex-center;

//   // .item {
//   //   margin: 5vw 0;
//   // }

//   .item__content {
//     padding: 2.4vw;
//   }

//   .item__detail {
//     width: auto;
//   }

//   .item__title {
//     font-size: 1.2rem;
//   }

//   &__content {
//     // @extend .main-section;

//     padding: 5vw;
//   }
// }

// .border {
//   &__top-divider {
//     border-top: 1px solid $gray-4;
//   }

//   &__bottom-divider {
//     border-bottom: 1px solid $gray-4;
//   }
// }

// .w-h-same {
//   content: "";
//   display: block;
//   padding: 50% 0;
//   height: 0;
// }

.modal {
  // @extend .back-drop;

  left: 0;
  z-index: 300;

  &.align-middle {
    // @extend .flex;
    // @extend .flex-column;
    // @extend .flex-middle;
    // @extend .flex-center;
  }

  &__content {
    // @extend .border-radius-base;

    margin: 30px auto;
    max-width: 80%;
    max-height: 80%;
    width: 100%;
    background-color: $white;
    overflow: hidden;
  }

  &__header {
    padding: 4.8vw;
    font-size: 1.2rem;

    h4 {
      font-size: inherit;
    }
  }

  &__body {
    max-height: 70vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__detail {
    position: relative;
    padding: 3.8vw 0;
  }

  &__title,
  &__text {
    padding: 0 4.8vw;
    line-height: 1.5em;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__text {
    margin: 0 0 3.8vw;
  }

  &__footer {
    padding: 0 15px 15px;
  }
}

.hint-modal {
  &__header {
    font-size: 1.4rem;
  }
}

.cart {
  // &__ctrl-container {
  //   border: 0;

  //   &:disabled {
  //     background-color: transparent;

  //     .cart__ctrl {
  //       color: $white;
  //       background-color: $gray-4;
  //     }

  //     .cart__add {
  //       border-color: $gray-4;
  //     }
  //   }
  // }

  // &__ctrl {
  //   position: relative;
  //   display: block;
  //   margin: 2.6vw;
  //   width: 7vw;
  //   max-width: 26px;
  //   border-width: 2px;
  //   border-style: solid;
  //   border-radius: 50%;

  //   &:before {
  //     // @extend .w-h-same;
  //   }
  // }

  // &__minus {
  //   display: none;
  //   border-color: $gray-2;
  //   background-color: $white;

  //   &:active {
  //     border-color: $minus-button-active;

  //     .cart__icon::before {
  //       background-color: $minus-button-active;
  //     }
  //   }
  // }

  // &__add {
  //   border-color: $theme-color;
  //   background-color: $theme-color;

  //   &:active {
  //     border-color: $add-button-active;
  //     background-color: $add-button-active;
  //   }
  // }

  // &__icon {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;

  //   &::before,
  //   &::after {
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     content: "";
  //     display: block;
  //     margin: auto;
  //     border-radius: 6px;
  //     opacity: 0.9;
  //   }

  //   &::before {
  //     width: 65%;
  //     height: 2px;
  //   }

  //   &::after {
  //     height: 65%;
  //     width: 2px;
  //   }
  // }

  // &__minus &__icon {
  //   &::before {
  //     background-color: $gray-2;
  //   }
  // }

  // &__add &__icon {
  //   &::before,
  //   &::after {
  //     background-color: $white;
  //   }
  // }

  // &__note {
  //   background-color: $white;

  //   textarea {
  //     padding: 3vw;
  //     border: 0;
  //     width: 100%;
  //     resize: none;
  //     -webkit-appearance: none;
  //     border-radius: 0;
  //   }
  // }

  &__close-button {
    display: block;
    padding: 5px;
    width: 42px;
    height: 42px;
    fill: $gray-2;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.animation__slide-up {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);

  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.aside-content {
  // @extend .border-radius-base;

  background-color: $white;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.aside {
  // @extend .back-drop;

  display: block;
  opacity: 0;

  transition: opacity 0.01s 0.3s, z-index 0.01s 0.3s;
  -webkit-transition: opacity 0.01s 0.3s, z-index 0.01s 0.3s;

  &__section-container {
    padding: 2.4vw;

    &.bottom {
      padding: 3.5vw 5.5vw;
    }
  }

  &__product-detail,
  &__product-description {
    display: -webkit-flex;
    display: flex;
  }

  &.active {
    opacity: 1;
    z-index: 100;

    transition: opacity 0.01s, z-index 0.01s;
    -webkit-transition: opacity 0.01s, z-index 0.01s;

    // &.login {
    //   z-index: 200;
    // }

    > .cart-pane,
    > .product-detail,
    > .product-description,
    // > .store-info,
    > .form-text {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
    }
  }
}

.cart-pane {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 60%;

  &__operation {
    padding: 2.4vw;
  }

  &__amount-container {
    svg {
      vertical-align: middle;
      fill: $status-blue;
    }

    svg ~ .cart-pane__amount-label {
      margin-left: 8px;
    }
  }

  &__amount-label {
    color: $gray-2;
  }
}

.nav-pane {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  bottom: 0;
  padding: 15px 0;
  max-height: 80%;
  width: 100%;

  &__link {
    padding: 4vw 5vw;
    background-color: transparent;
    box-shadow: none;
    outline: none;
  }

  &__label {
    display: inline-block;
    max-width: 90%;
  }

  &__item.active {
    background-color: $gray-5;
  }
}

.product-detail {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  bottom: 0;
  width: 100%;
  max-height: 90%;
  overflow-y: hidden;

  &__options-container {
    padding: 4vw;
    max-height: 30vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__options ~ &__options {
    margin-top: 5vw;
  }

  &__options-title {
    margin: 5px 0;

    & + span {
      display: block;
      margin-bottom: 5px;
    }
  }

  .button__fill {
    // @extend .border-radius-base;
  }
}

.product-description {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  width: 100%;

  .item__content {
    min-height: 0;
    width: 85%;
    height: 100%;

    &::before {
      content: "";
      width: 0;
      min-height: 21vw;
    }
  }

  .item__detail {
    width: 100%;
    height: 100%;
  }

  &__image-container {
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;

    figure {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__back-icon {
    position: absolute;
    top: 0;
    z-index: 2;
    display: inline-block;
    padding: 8px;
    margin: 10px;
    width: 12vw;
    height: 12vw;
    max-width: 40px;
    max-height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    fill: $white;
    border-radius: 50%;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__dot-list {
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
  }

  &__dot {
    display: inline-block;
    margin: 0 2px;
    width: 8px;
    height: 8px;
    border: 1px solid $white;
    background-color: transparent;
    border-radius: 50%;

    &.active {
      background-color: $white;
    }
  }

  &.transition {
    background-color: transparent;

    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;

    .aside__fix-bottom,
    .product-description__back-icon {
      opacity: 0;
    }
  }
}

// .store-info {
//   // @extend .aside-content;
//   // @extend .animation__slide-up;

//   // position: absolute;
//   // bottom: 0;
//   // width: 100%;
//   // padding: 0 4vw;

//   &__header {
//     margin: 20px 0;
//   }

//   &__aside.aside {
//     top: 50px;

//     &.active {
//       z-index: 300;
//     }
//   }

//   &__address,
//   &__phone {
//     display: block;
//     margin-top: 6px;
//     padding: 0 5vw;
//   }

//   &__address {
//     font-size: 0.85rem;
//   }

//   &__delivery-hours {
//     padding: 0 5vw;
//     margin: 20px 0;
//   }

//   &__list {
//     margin: 15px 0;
//   }

//   &__item ~ &__item {
//     margin: 10px 0 0;
//   }
// }

.form-text {
  // @extend .aside-content;
  // @extend .animation__slide-up;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4vw;
}

// .tag {
//   &__number {
//     display: inline-block;
//     padding: 2px;
//     min-width: 20px;
//     height: 20px;
//     line-height: 16px;
//     font-size: 0.8rem;
//     color: $white;
//     background-color: $status-blue;
//     border-radius: 12px;
//   }

//   &__cards {
//     margin: 0 -2vw;
//   }

//   &__card {
//     @extend .border-radius-base;

//     display: inline-block;
//     padding: 1.4vw 2.4vw;
//     border: 1px solid $white;
//     margin: 2vw;
//     background-color: transparent;
//     font-style: normal;
//   }

//   &__card-container {
//     height: 4vw;
//   }

//   &__card.variation:not(.active) {
//     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
//   }

//   &__card.info {
//     padding: 3px;
//     color: $white;
//     line-height: 1em;
//     border-color: $gray-2;
//     background-color: $gray-2;
//     font-style: normal;
//   }

//   &__card.active {
//     border-color: $theme-color;
//     color: $white;
//     background-color: $theme-color;
//   }

//   &__card.warning {
//     border-color: $status-red;
//     color: $white;
//     background-color: $status-red;
//   }

//   &__card.blue {
//     border-color: $status-blue;
//     color: $white;
//     background-color: $status-blue;
//     white-space: nowrap;
//   }

//   &__card.disabled {
//     pointer-events: none;
//     border-color: $gray-4;
//     color: $gray-2;
//     background-color: $gray-4;
//   }

//   &__card.downsize {
//     transform: scale(0.6);
//     transform-origin: left top;
//     margin: 0;
//   }
// }

.aside-section {
  position: fixed;
  bottom: 0;
  left: 0;

  &.full {
    top: 0;
    width: 100%;
    z-index: 100;

    .aside-bottom {
      // @extend .aside-section.full;

      padding-top: 50px;
      border-radius: 0;
    }
  }
}

.aside-bottom {
  // @extend .aside-section;

  padding: 0 2.4vw;
  width: 100%;
  background-color: $white;
  overflow-y: hidden;
  border-radius: 12px 12px 0 0;

  &.not-full {
    padding: 16px;
  }

  &__slide-button {
    // @extend .text-size-reset;

    text-align: center;
    display: block;
    padding: 9px;
    margin: 0 auto;

    &::before {
      content: "";
      display: inline-block;
      height: 4px;
      width: 28px;
      border-radius: 2px;
      background-color: $gray-4;
    }
  }

  &__title {
    padding: 10px 0;
    font-size: 1.3rem;
    color: $main-color;
  }
}

.full-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 100;

  &__image-container {
    max-width: 45%;
    margin: 0 auto;

    img {
      max-width: 100%;
    }
  }

  &__content {
    padding: 4vh 5vw;
    margin: 50px 0;
  }

  &__title {
    // @extend .text-weight-bolder;

    margin: 20px 0;
    font-size: 1.4rem;
    line-height: $line-height-base;
  }
}

.logo-default {
  &__image-container {
    // @extend .text-size-reset;

    position: relative;
    display: inline-block;
    margin: 6px 0;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $white;

    &::before {
      // @extend .w-h-same;
    }

    svg,
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      fill: $white;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    padding: 6px 0;
    line-height: $line-height-base;
    color: $logo-default-title;
  }
}

.cart-bar {
  // @extend .border-radius-base;

  // width: 100%;
  // height: 14vw;
  // background-color: $main-color;

  // button {
  //   height: 12vw;
  // }

  // &__icon-container.empty {
  //   svg {
  //     width: 36px;
  //     height: 100%;
  //     transform: rotate(0deg);
  //     opacity: 0.5;
  //   }
  // }

  // &__money {
  //   @extend .text-weight-bolder;

  //   padding: 0 10px;
  //   display: inline-block;
  //   font-size: 1.15rem;
  //   color: $gray-2;
  // }

  // &__money-minimum {
  //   display: block;
  // }

  // &__icon-container ~ &__money {
  //   margin: 0 2px;
  // }

  // &__order-button {
  //   @extend .text-weight-bolder;
  //   @extend .text-uppercase;
  //   @extend .border-radius-base;

  //   display: none;
  //   padding: 2vw 4vw;
  //   height: 100%;
  //   color: $white;
  //   background-color: $theme-color;
  // }

  // a.cart-bar__order-button {
  //   @extend .link__non-underline;

  //   line-height: 10vw;
  //   font-size: 1.15rem;
  // }

  &.has-products {
    // .cart-bar__icon-container {
    // svg {
    // fill: $white;
    // }
    // }

    .cart-bar__money {
      color: $white;
    }

    // .cart-bar__order-button {
    //   display: block;
    // }
  }
}

.customer-numbers {
  padding: 4.8vw;

  .tag__card {
    display: block;
  }
}

.location {
  svg {
    // @extend .text-middle;

    fill: $gray-2;
  }

  &__text {
    margin: 0 10px;
    font-size: 1.2rem;
    color: $white;
  }
}

// .delivery {
//   // @extend .main-section;
//   background-color: $white;

//   &__next-icon {
//     padding: 3.2vw 3.8vw;

//     svg {
//       fill: $theme-color;
//     }
//   }
// }

.payment-bank {
  padding: 4vw;

  .input {
    height: 50px;
    font-size: 1.4rem;
  }

  .logo-default__image-container {
    display: block;
    margin: 4vw auto;
  }

  .input__list-top {
    position: relative;
    border: 1px solid $gray-4;
    border-radius: 4px 4px 0 0;

    .input {
      border: 0;
    }
  }

  &__money {
    display: block;
    padding: 2vw 0;
    font-size: 2rem;
  }

  &__form-item {
    padding: 4vw 0;
  }

  &__label {
    display: block;
    margin: 3vw 0;
    font-size: 1.4rem;
  }

  &__card-type-container {
    padding: 3px;
  }

  &__card-type-icon {
    display: inline-block;
    padding: 10px 0;
    margin: 0 6px;
    font-size: 0;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    img {
      margin: auto;
      max-width: 100%;
    }

    &.visa {
      width: 12vw;
    }

    &.mastercard {
      width: 10vw;
    }

    &.JCB {
      width: 10vw;
    }
  }

  &.stripe {
    .payment-bank__card-type-icon {
      position: absolute;
      right: 5px;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 100;
    }

    .payment-bank__card-type-icon.visa {
      right: 45px;
      height: 33px;
    }

    .payment-bank__card-type-icon.mastercard {
      height: 38px;
    }
  }
}

.location-page {
  &__search-box {
    padding: 5vw 2.4vw;
    background-color: $white;

    .input {
      padding-left: 0;
      padding-right: 5vw;
      font-size: 1.4rem;
    }
  }

  &__search-box-search-icon {
    padding: 3.2vw;
    font-size: 0;

    svg {
      fill: $gray-2;
    }
  }

  &__search-box-clear-icon {
    padding: 15px 8px;

    svg {
      fill: $gray-2;
      width: 14px;
      height: 14px;
      vertical-align: middle;
    }
  }

  &__detected-position {
    overflow: hidden;
    align-items: stretch;
    border-bottom: 1px solid $gray-4;
    padding: 8px 16px 16px 0;
    .location-page__address-item {
      padding: 0;
      border: none;
    }

    .location-page__detected-position-address {
      margin-top: 8px;
    }
  }

  &__detected-position-status {
    margin: 10px 0;
    font-weight: bold;
  }

  &__detected-position-icon {
    svg {
      fill: $theme-color;
      width: 14px;
      height: 14px;
    }
    padding: 16px;
    float: left;
  }

  &__detected-position-address {
    overflow: hidden;
  }

  &__historical-address {
    border-bottom: 1px solid $gray-4;
    overflow: hidden;
  }

  &__historical-address-icon {
    display: block;
    margin-top: 8px;
    padding: 16px;
    float: left;

    svg {
      fill: $theme-color-translucent;
      width: 14px;
      height: 14px;
    }
  }

  &__historical-address-content {
    overflow: hidden;
    .location-page__address-item {
      padding: 16px 16px 16px 0;
      border: none;
    }
  }

  &__address-item {
    padding: 16px 24px;
    border-bottom: 1px solid $gray-4;
  }

  &__address-title {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__address-detail {
    margin-top: 4px;
    color: $gray-2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__address-distance {
    margin-right: 8px;
    font-weight: bold;
  }

  &__error-screen {
    margin: 32px 0;
    text-align: center;
  }

  &__error-screen-image {
    max-width: 90%;
  }

  &__error-screen-message {
    margin-top: 16px;
    color: $gray-2;
  }

  // &__entry {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 70px;
  //   z-index: 100;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     margin: auto;
  //     width: 95.2%;
  //     display: block;
  //     height: 1px;
  //     background-color: $gray-4;
  //   }

  //   & ~ .list__container {
  //     top: 83px;
  //   }

  //   & ~ .list__container .category__header.fixed,
  //   & ~ .aside,
  //   & ~ .store-info__aside.aside {
  //     top: 134px;
  //   }

  //   & ~ .pick-up ~ .aside,
  //   & ~ .pick-up ~ .store-info__aside.aside {
  //     top: 154px;
  //   }
  // }

  &__entry-container {
    // .category-nav {
    //   top: 64px;
    //   height: auto;
    // }

    // .pick-up ~ .category-nav {
    //   top: 84px;
    // }

    // .pick-up ~ .list__container {
    //   top: 34px;
    // }

    // .location-page__entry ~ .pick-up ~ .list__container {
    //   top: 103px;
    // }

    // .category__header.fixed {
    //   top: 64px;
    // }

    // .pick-up ~ .list__container .category__header.fixed {
    //   top: 84px;
    // }

    // .location-page__entry ~ .category-nav {
    //   top: 134px;
    // }

    // .location-page__entry ~ .pick-up ~ .category-nav,
    // .location-page__entry ~ .pick-up ~ .list__container .category__header.fixed {
    //   top: 154px;
    // }

    // .top-message__second-level {
    //   position: fixed;
    //   width: 100%;
    //   top: 64px;
    //   z-index: 100;
    // }

    // .pick-up ~ .top-message__second-level {
    //   top: 84px;
    // }

    // .location-page__entry ~ .top-message__second-level {
    //   top: 134px;
    // }

    // .location-page__entry ~ .pick-up ~ .top-message__second-level {
    //   top: 154px;
    // }

    // .top-message__second-level ~ .list__container {
    //   top: 50px;
    // }

    // .pick-up ~ .top-message__second-level ~ .list__container {
    //   top: 70px;
    // }

    // .top-message__second-level ~ .list__container .category__header.fixed,
    // .top-message__second-level + .category-nav {
    //   top: 100px;
    // }

    // .pick-up ~ .top-message__second-level ~ .list__container .category__header.fixed,
    // .pick-up ~ .top-message__second-level + .category-nav {
    //   top: 120px;
    // }

    // .location-page__entry ~ .top-message__second-level ~ .list__container {
    //   top: 119px;
    // }

    // .location-page__entry ~ .pick-up ~ .top-message__second-level ~ .list__container {
    //   top: 147px;
    // }

    // .location-page__entry ~ .top-message__second-level ~ .list__container .category__header.fixed,
    // .location-page__entry ~ .top-message__second-level + .category-nav {
    //   top: 170px;
    // }

    // .location-page__entry ~ .pick-up ~ .top-message__second-level ~ .list__container .category__header.fixed,
    // .location-page__entry ~ .pick-up ~ .top-message__second-level + .category-nav {
    //   top: 191px;
    // }

    .store-info__aside,
    .cover {
      top: 64px;
    }

    .pick-up ~ .store-info__aside,
    .pick-up ~ .cover {
      top: 84px;
    }
  }

  .location-page {
    &__loading-mask {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__base-info {
    width: 85vw;
    margin-top: 0;
  }

  &__entry-address {
    margin-top: 5px;
    font-size: 0.85rem;
    max-height: 16px;
    max-width: 100%;
    color: $gray-2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      margin-left: 18px;
      font-size: inherit;
    }

    .icon + p {
      margin-left: 4px;
      font-size: 1rem;
    }

    &.pick-up {
      margin-top: 4px;
    }

    &__icon {
      float: left;
      width: 24px;
      margin-top: -6px;
      margin-left: -6px;
    }
  }

  &__edit {
    padding: 2.4vw;

    svg {
      width: 16px;
      height: 16px;
      fill: $theme-color;
    }
  }
}

@keyframes dots {
  to {
    width: 18px;
  }
}

@-webkit-keyframes dots {
  to {
    width: 18px;
  }
}

@keyframes dotsMore {
  to {
    width: 26px;
  }
}

@-webkit-keyframes dotsMore {
  to {
    width: 26px;
  }
}

.thanks {
  padding: 5.4vh 4vw;
  width: 100%;

  .input {
    // .button {
    // @extend .border-radius-base;

    padding: 6px 12px;
    height: 40px;
  }

  &__image {
    margin: 0 auto;
    max-width: 62%;
  }

  &__status-title,
  &__status-description {
    margin: 14px 0;

    p,
    .icon {
      margin-right: 5px;
    }

    .link {
      text-decoration: none;
      letter-spacing: 1.25px;
    }
  }

  &__status-title.accepted &__status-title-dots,
  &__status-title.paid &__status-title-dots {
    text-align: left;
    display: inline-block;
  }

  &__status-title.accepted &__status-title-dots {
    width: 18px;
  }

  &__status-title.paid &__status-title-dots {
    width: 24px;
  }

  &__status-title.accepted &__status-title-dots::after,
  &__status-title.paid &__status-title-dots::after {
    vertical-align: bottom;
    display: inline-block;
    margin-left: 2px;
  }

  &__status-title.accepted &__status-title-dots::after {
    content: "...";
    overflow: hidden;
    -webkit-animation: dots steps(4, end) 2s infinite;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
  }

  &__status-title.paid &__status-title-dots::after {
    content: ".....";
    overflow: hidden;
    -webkit-animation: dotsMore steps(6, end) 3s infinite;
    animation: dotsMore steps(6, end) 3s infinite;
    width: 0px;
  }

  &__earned-cashback-total {
    display: block;
    padding: 12px 0;
  }

  &__earned-cashback-title {
    margin-right: 5px;
  }

  &__earned-cashback-description {
    margin: 8px auto;
    max-width: 300px;
    line-height: $line-height-base;
  }

  &__title {
    margin: 4vw 0;
    font-size: 2.4rem;
    color: $gray-2;
  }

  &__delivering-title {
    margin-top: 20px;
  }

  &__prompt {
    margin: auto;
    max-width: 74%;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  &__text {
    font-size: 1.2rem;
  }

  &__total-text {
    margin: 0 5px;
    font-size: 1.7142rem;
  }

  &__text ~ &__text {
    margin-left: 10px;
  }

  &__total-container {
    margin: 10px 0;
  }

  &__info-container,
  &__delivery-status-container {
    // @extend .border-radius-base;

    position: relative;
    background-color: $gray-6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

    .progress-bar__container {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__info-container {
    margin: 4vw 0;

    > * ~ * {
      border-top: 1px solid $gray-4;
    }
  }

  &__info-container-title {
    margin-top: 24px;
  }

  &__info-container-title ~ &__info-container {
    margin-top: 10px;
  }

  &__pickup {
    margin-bottom: 16px;
  }

  &__pickup-time {
    margin: 8px 0;
    font-size: 1.2rem;
  }

  &__delivery-status-container {
    padding: 2.4vw;
    margin-top: 16px;
  }

  &__delivery-status-list {
    padding: 0 1vw;
  }

  &__delivery-status-item {
    position: relative;
    padding-bottom: 30px;
    padding-left: 16px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      margin: 6px 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $gray-4;
    }

    &.active::before {
      background-color: $theme-color;
    }

    &.error::before {
      background-color: $status-red;
    }

    &::after {
      content: "";
      position: absolute;
      top: 24%;
      left: 3px;
      display: block;
      width: 1px;
      height: 74%;
      background-color: $gray-4;
    }

    &.finished::after {
      background-color: $theme-color;
    }

    .access-time-icon {
      display: inline-block;
      font-size: 0;

      svg {
        fill: $theme-color;
        width: 20px;
        height: 20px;
      }
    }

    &.error .access-time-icon {
      svg {
        fill: $status-red;
      }
    }

    time {
      margin-left: 6px;
    }
  }

  &__delivery-status-item:last-child {
    padding-bottom: 10px;
    border-left: 0;

    &::after {
      content: none;
    }
  }

  &__delivery-status-time {
    margin: 10px 0;
  }

  &__delivery-status-label {
    font-size: 1.2rem;
  }

  &__delivery-info {
    padding: 3.8vw;
  }

  &__address-details,
  &__address-pin {
    padding: 12px 0;
  }

  &__link {
    padding: 2.4vh 0;
  }

  &__pin-icon {
    margin: 0 -4px;
    fill: $theme-color;

    svg {
      width: 20px;
      height: 20px;
    }

    ~ span {
      padding-left: 20px;
      line-height: 1.5em;
      color: $gray-2;
      word-break: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }

  &__phone-view,
  &__receipt-info {
    position: relative;
    padding: 4vw;
  }

  &__receipt-title,
  &__receipt-label,
  &__receipt-number {
    line-height: 1.5em;
  }
}

.thanks-pickup {
  &__id-container {
    // @extend .border-radius-base;
    background-color: #fafafa;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    margin-top: 23px;

    padding: 4vw;

    label {
      display: block;
      padding: 8px 0;
      font-size: 1.2857rem;
      color: $main-color;
    }
  }

  &__id-number {
    display: block;
    font-size: 2.1428rem;
    color: $gray-2;
  }
}

.receipt {
  &__content {
    padding: 8vw 4vw;
    background-color: $gray-5;
    border-bottom: 1px solid $gray-4;
  }

  &__label,
  &__id-number {
    display: block;
    padding: 8px 0;
  }

  &__id-number {
    font-size: 1.7rem;
    letter-spacing: 0.25rem;
  }

  &__note,
  &__title,
  &__text {
    padding: 1.2vw;
  }

  &__note {
    min-height: 80px;
  }
}

.card-list {
  padding: 0 16px;
  overflow: hidden;

  &__item {
    padding: 4vw 6vw;
    margin: 12px 0;
  }

  &__item-summary {
    padding: 0 4vw;
    width: 65vw;
  }

  &__icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    opacity: 0.6;
  }

  &__icon-svg {
    width: 100%;
  }

  &__title {
    margin: 5px 0;
  }

  &__title-children {
    // @extend .text-weight-bolder;

    display: inline-block;
    font-size: 1.5rem;
  }

  &__time {
    margin: 5px 0;
    color: $gray-2;
  }
}

.receipt-list {
  // @extend .card-list;

  margin: -4px -2.4vw;
  padding: 0 16px;
  overflow: hidden;
  max-height: 140px;

  &.full {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
  }

  &__item {
    // @extend .card-list__item;

    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $theme-color;

    svg {
      // @extend .card-list__icon-svg;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.activity {
  // @extend .card-list;

  &__item {
    // @extend .card-list__item;

    color: $white;

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $gray-6;

    svg {
      // @extend .card-list__icon-svg;
    }

    &.earned {
      fill: $theme-color;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.card-list {
  padding: 0 16px;
  overflow: hidden;

  &__item {
    padding: 4vw 6vw;
    margin: 12px 0;
  }

  &__item-summary {
    padding: 0 4vw;
    width: 65vw;
  }

  &__icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    opacity: 0.6;
  }

  &__icon-svg {
    width: 100%;
  }

  &__title {
    margin: 5px 0;
  }

  &__title-children {
    // @extend .text-weight-bolder;

    display: inline-block;
    font-size: 1.5rem;
  }

  &__time {
    margin: 5px 0;
    color: $gray-2;
  }
}

.receipt-list {
  // @extend .card-list;

  margin: -4px -2.4vw;
  padding: 0 16px;
  overflow: hidden;
  max-height: 140px;

  &.full {
    max-height: 100%;
    overflow: auto;
    padding-bottom: 50px;
  }

  &__item {
    // @extend .card-list__item;

    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $theme-color;

    svg {
      // @extend .card-list__icon-svg;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.activity {
  // @extend .card-list;

  &__item {
    // @extend .card-list__item;

    color: $white;

    summary {
      // @extend .card-list__item-summary;
    }
  }

  &__icon {
    // @extend .card-list__icon;

    fill: $gray-6;

    svg {
      // @extend .card-list__icon-svg;
    }

    &.earned,
    &.ticket {
      fill: $theme-color;
    }
  }

  &__title {
    // @extend .card-list__title;

    * {
      // @extend .card-list__title-children;
    }
  }

  &__time {
    // @extend .card-list__time;
  }
}

.customer {
  &__method {
    width: 50%;
  }

  &__method-label {
    display: inline-block;
    font-size: 1.2rem;
  }

  &__form {
    // padding: 0 3.8vw;

    // .form__group {
    //   padding: 0;
    //   margin: 16px 0;
    // }

    // .react-phone-number-input {
    //   margin: 0;
    // }

    // .input,
    // .react-phone-number-input--focus .react-phone-number-input__input,
    // .react-phone-number-input .react-phone-number-input__input:focus,
    // .react-phone-number-input .react-phone-number-input__input {
    //   text-align: left;
    //   font-size: 1.4rem;
    //   height: 50px;
    // }
  }

  &__edit-icon {
    svg {
      fill: $theme-color;
    }
  }
}

.location-display {
  &__content {
    font-size: 16px;

    label {
      margin-bottom: 16px;
    }

    .location-page__search-box {
      padding: 0;

      input {
        padding-left: 15px;
        font-size: 16px;
      }
    }

    .form__group {
      padding: 8px 0;
      overflow: hidden;
      margin: auto 3.8vw;
    }
  }

  &__date {
    min-height: 56px;
    overflow-x: scroll;

    &-item {
      // @extend .border-radius-base;
      background-color: $white;
      color: $main-color;
      border: solid 1px $gray-4;
      padding: 5px 28px;
      margin-right: 16px;
      align-items: center;
      justify-content: center;
      height: 56px;
      width: 80px;

      span {
        display: block;
        font-weight: 500;
      }

      &.selected {
        background-color: $theme-color;
        border-color: $theme-color;
        color: $white;
      }

      &.disabled {
        background-color: $white;
        color: $gray-4;
        border: solid 1px $gray-4;
      }
    }
  }

  &__date-container {
    &.form__group {
      margin: auto;
    }
    label.form__label {
      margin: 16px 3.8vw;
    }
  }

  &__hour {
    max-height: 200px;
    overflow-y: scroll;

    &-item {
      color: $gray-2;
      font-size: 16px;
      height: 50px;
      line-height: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      &.selected {
        color: $main-color;
        background-color: $gray-5;
      }

      &.disabled {
        color: $gray-4;
      }
    }
  }
}

.pre-order {
  &__modal {
    .modal__title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .modal__text {
      font-size: 16px;
    }
  }
}

.need-help,
.order-detail {
  // @extend .main-section;

  padding: 5vw;

  .item,
  .item__title,
  .item__text {
    padding: 2.4vw 0;
  }

  .item__title,
  .item__text {
    display: block;
  }

  &__tag {
    color: $theme_color;
  }

  &__info-container {
    // @extend .border-radius-base;

    padding: 3.8vw;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  }

  &__report-driver {
    margin-top: 4vh;
    &-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      font-size: 16px;
      text-align: left;
      max-height: 60px;
      height: 10vh;
      border: none;
      background-color: white;
      width: 100%;
      border-radius: $border-radius-base;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
      &-text {
        font-size: inherit;
        color: $main-color;
        font-weight: bold;
      }
    }
  }
}

.order-detail {
  // .list {
  //   padding: 2.4vw 0;
  // }

  &__title {
    font-size: 1.2rem;
  }
}

main.transition {
  padding-top: 0;
}

main > section.hide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px 0 0;

  // &.table-ordering__home {
  //   transform: translateX(-100%);
  //   -webkit-transform: translateX(-100%);
  // }

  // &.table-ordering__order {
  //   transform: translateX(100%);
  //   -webkit-transform: translateX(100%);
  // }

  &.table-ordering__payment,
  &.table-ordering__thanks,
  &.table-ordering__prompt-page {
    display: none;
  }

  .operation {
    position: absolute;
  }
}

body.loading {
  .aside,
  .cartpane,
  .product-detail {
    display: none;
  }
}

.alcohol-modal {
  .modal__content {
    margin-top: 10px;
    max-width: 88%;
  }
  &__image {
    max-width: 40vw;
    margin: 0 auto;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #25272c;
    margin-bottom: 10px;
  }
  &__content {
    line-height: 20px;
    color: #303030;
    font-family: inherit;
  }
  &__buttons {
    margin-top: 30px;
    .btn {
      border: solid 1px black;
      width: 40%;
      height: 56px;
      border-radius: 5px;
      margin: 0 10px;
      font-size: 14px;
      font-weight: bolder;
    }
    .active {
      background-color: $theme-color;
      border: none;
      color: white;
    }
  }
  &__policy {
    margin: 10px auto;
    text-align: center;
    color: #8f9092;
    line-height: 22px;
  }

  a.font-weight-bolder {
    color: $gray-2;
  }
}

@media (max-width: 374px) {
  *,
  html {
    font-size: $mobile-font-size-base;
  }

  .store-info {
    &__address,
    &__phone,
    &__delivery-hours {
      padding: 0 2.4vw;
    }
  }

  // .cart-bar {
  //   &__icon-container img {
  //     max-width: 35px;
  //   }

  //   &__icon-container.empty {
  //     img {
  //       width: 30px;
  //     }
  //   }
  // }
}

@media (min-width: 600px) {
  .back-drop,
  .top-message.fixed,
  // .loading-cover,
  // .location-page__entry,
  .aside-section,
  // .list__container,
  .full-aside__content,
  .location-page__list,
  .top-message__second-level,
  .location-page__search-box,
  .loyalty__claim,
  .loyalty__home,
  .loyalty__activities,
  .prompt-page__button-container {
    max-width: 414px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  // .category-nav.category-nav__vertical {
  //   // .location-page__entry ~ .category-nav {
  //   left: 50%;
  //   right: auto;
  //   bottom: 90px;
  //   transform: translateX(-207px);
  //   -webkit-transform: translateX(-207px);
  //   -moz-transform: translateX(-207px);
  //   width: 104px;
  // }

  // .category-nav__vertical ~ .list__container {
  //   margin: 0;
  // }

  .category__list {
    border-right: 1px solid $gray-5;
  }

  .location-page__form,
  .location-page__detected-position {
    margin: auto;
    max-width: 414px;
  }

  // .list__container > .category__header {
  //   left: 50%;
  //   transform: translateX(-103px);
  //   -webkit-transform: translateX(-103px);
  //   -moz-transform: translateX(-103px);
  //   width: 310px;
  //   z-index: 100;
  // }

  .item__cart-ctrl {
    min-width: 125px;

    &::before {
      width: 46px;
      height: 46px;
    }
  }

  .cart__ctrl {
    margin: 10px;
    width: 28px;
  }

  // .table-ordering__order .item__detail {
  //   max-width: 180px;
  // }

  .item__image-container {
    width: 87px;
    height: 87px;
    min-width: 87px;
    min-height: 87px;
  }

  .item__image-container ~ .item__detail {
    min-width: 87px;
    min-height: 87px;
  }

  // .cart-bar {
  //   max-height: 58px;
  // }

  // .cart-bar button {
  //   max-height: 50px;
  // }

  // .button__fill {
  //   max-height: 56px;
  //   line-height: 56px;
  // }

  .tag__card-container {
    max-height: 16px;
  }

  .tag__cards {
    margin: 0 -10px;
  }

  .tag__card {
    margin: 10px;
  }

  // .table-ordering__home .aside,
  // .table-ordering__order .aside-bottom,
  .table-ordering__customer .aside {
    bottom: 88px;
  }

  // .container.fixed .category-nav__vertical ~ .list__container {
  //   width: 310px;
  //   left: 50%;
  //   transform: translateX(-103px);
  //   -webkit-transform: translateX(-103px);
  //   -moz-transform: translateX(-103px);
  //   -ms-transform: translateX(-103px);
  // }

  .payment__image-container {
    width: 62px;
  }

  .payment-bank__card-type-icon.visa {
    max-width: 50px;
  }

  .payment-bank__card-type-icon.mastercard {
    max-width: 42px;
  }

  .payment-bank__card-type-icon.JCB {
    max-width: 30px;
  }

  // .location-page__entry-address {
  //   max-width: 360px;
  // }

  // .container.fixed {
  //   .location-page__entry ~ .list__container .category__header.fixed {
  //     top: 0;
  //     transform: translateX(-155px);
  //     -webkit-transform: translateX(-155px);
  //     -moz-transform: translateX(-155px);
  //   }
  // }

  // reset padding
  // .store-list
  // .item__content,
  // .cart__note textarea,
  .need-help__info-container,
  .order-detail__info-container,
  // .item,
  .aside__section-container,
  // .billing__item,
  .cart-pane__operation,
  .location-page__edit {
    padding: 10px;
  }

  // .category-nav {
  //   padding: 0;
  // }

  .order-detail .list,
  .item__text,
  .need-help .item,
  .need-help .item__title,
  .need-help .item__text,
  .order-detail .item,
  .order-detail .item__title,
  .order-detail .item__text {
    padding: 10px 0;
  }

  .item__image-container ~ .item__detail,
  .aside-bottom {
    // .table-ordering__receipt .billing {
    padding: 0 10px;
  }

  .cart__note,
  .location-page__search-box-search-icon,
  // .delivery__next-icon,
  .prompt-page__button-container {
    // .table-ordering__home .item-padding {
    padding: 13px;
  }

  // .category-nav__horizontal .category-nav__item,
  .top-message__close-button,
  .form-text,
  .product-detail__options-container,
  .footer-link,
  .payment-bank,
  .thanks__phone-view,
  .thanks__receipt-info,
  .thanks-pickup__id-container,
  .thanks__delivery-info {
    padding: 16px;
  }

  // .category-nav__vertical .category-nav__item {
  //   padding: 16px 10px;
  // }

  .modal__detail,
  .payment-bank__form-item,
  .location-page__icon-adjust + .item,
  .thanks__info-container {
    padding: 16px 0;
  }

  // .store-info,
  .card-list__item-summary {
    padding: 0 16px;
  }

  .payment__item {
    padding: 16px 0 16px 16px;
  }

  .top-message.fixed,
  // .store-list__content,
  .need-help,
  .order-detail,
  .modal__header,
  .customer-numbers {
    padding: 20px;
  }

  .store-info__address,
  .store-info__phone,
  .modal__title,
  .modal__text,
  .store-info__delivery-hours {
    padding: 0 20px;
  }

  .top-message {
    padding: 34px;
  }

  .aside__section-container.bottom {
    padding: 15px 22px;
  }

  .nav-pane__link {
    padding: 16px 20px;
  }

  .thanks__delivery-status-container {
    padding: 10px 15px;
  }

  .tag__card {
    padding: 5px 10px;
  }

  // .cart-bar__order-button {
  //   padding: 9px 16px;
  // }

  .payment-bank__money {
    padding: 9px 0;
  }

  .thanks {
    padding: 5.4vh 16px;

    &__title {
      margin: 16px 0;
    }
  }

  .full-aside__content {
    padding: 4vh 20px;
  }

  .location-page__form {
    padding: 20px 9px;
  }

  // .store-list .item {
  //   margin: 20px 0;
  // }

  .product-detail__options ~ .product-detail__options {
    margin-top: 20px;
  }

  .location-page__search-box {
    padding: 20px 10px;
  }

  .location-display__content .form__group {
    margin: auto 16px;
  }

  .location-display__date-container label.form__label {
    margin: 16px 0;
  }

  // .table-ordering__home .item__content,
  .product-description .item__content::before,
  .product-description .item__detail {
    min-height: 88px;
  }
}

.dine {
  width: 100%;
}

.tables {
  padding: 0 10px;
  padding-bottom: 30vw;
  width: 100%;
  &__continue-button {
    text-transform: uppercase;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: $font-weight-bolder;
    margin-top: 20px;
    margin-left: 10px;
  }
  &__list {
    // @extend .flex;
    // @extend .flex-center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin: 10px 0;
    width: 100%;
    &-item {
      width: 17vw;
      height: 15vw;
      border: 1px solid $gray-4;
      border-radius: 8px;
      margin: 10px;
      line-height: $line-height-base;
      &.active {
        background-color: $theme-color;
        color: white;
        border: none;
      }
    }

    &-table-name {
      font-weight: $font-weight-bolder;
    }
  }
}

.table-ordering__report-driver {
  width: 100%;
  background-color: $gray-5;

  .report-driver {
    &__main {
      background-color: white;
      margin: 4vh 4vw;
      padding: 2vh 4vw;
      border-radius: $border-radius-base;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    }

    &__required-mark {
      position: relative;
      font-size: inherit;
      color: #fa4133;
      font-weight: $font-weight-bold;
      text-transform: lowercase;
      padding-left: 1em;
      margin-left: 3px;

      &::before {
        content: "*";
        position: absolute;
        font-size: 1.3em;
        left: 0.25em;
      }
    }

    &__select-reason {
      margin-bottom: 3vh;
    }

    &__select-reason-title {
      font-size: $font-size-base;
      color: $main-color;
      font-weight: $font-weight-bolder;
      margin-bottom: 1rem;
    }

    &__select-reason-list {
      padding: 0 4px;
    }

    &__select-reason-item {
      padding: 1vh;
      color: $main-color;
      font-size: $font-size-base;
      display: flex;
      align-items: center;

      .radio {
        padding: 0;
        flex-shrink: 0;
        &__check-icon {
          border-color: $gray-4;
          width: 24px;
          height: 24px;

          &::before {
            width: 10px;
            height: 10px;
          }
        }

        &.active {
          .radio__check-icon {
            border-color: $theme-color;
          }
        }
      }

      label {
        margin-left: 1em;
        line-height: 1.5em;
        font-size: inherit;
      }
    }

    &__note {
      position: relative;
      font-size: $font-size-base;
    }

    &__note-title {
      font-size: inherit;
      font-weight: $font-weight-bolder;
      margin-bottom: 1rem;
    }

    &__note-textarea {
      resize: none;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $gray-4;
      background-color: white;
      padding: 8px;
      padding-bottom: 31px;
      font-size: inherit;
      line-height: $line-height-base;
    }

    &__note-char-length {
      position: absolute;
      right: 14px;
      bottom: 14px;
      font-size: 0.9em;
      color: $gray-3;
      background-color: white;
    }

    &__upload-photo {
      margin-top: 3vh;
    }

    &__upload-photo-title {
      font-size: $font-size-base;
      font-weight: $font-weight-bolder;
      margin-bottom: 1rem;
    }

    &__upload-photo-uploader {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 2px dashed $gray-4;
      border-radius: 8px;
      width: 120px;
      height: 104px;

      input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
      }
    }

    &__upload-photo-reminder {
      text-align: center;
      p {
        color: $gray-2;
      }
    }

    &__upload-photo-viewer {
      position: relative;
      max-width: 120px;

      img {
        border-radius: 8px;
      }
    }

    &__upload-photo-remove-button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      width: 32px;
      height: 32px;
      padding: 4px;
      z-index: 2;
      transform: translate(30%, -30%);

      i {
        display: inline-block;
        fill: white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $status-red;
        padding: 3px;
        border: 2px solid white;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__submit {
      margin-top: 3vh;
    }

    &__submit-button {
      height: 9vh;
      max-height: 60px;
      background-color: $theme-color;
      width: 100%;
      color: white;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      font-size: $font-size-base;
      border-radius: $border-radius-base;

      &:disabled {
        background-color: $gray-2;
      }
    }
  }
}

.table-ordering__report-driver-thankyou {
  width: 100%;
  background-color: $gray-5;

  .report-driver-thankyou {
    &__image {
      max-height: 360px;
      height: 33vh;
      margin: 4vh auto;
      text-align: center;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__title {
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: $gray-2;
      font-weight: $font-weight-light;
    }

    &__content {
      font-size: 1.3rem;
      color: $main-color;
      text-align: center;
      line-height: 1.8rem;
      margin-top: 4vh;
      padding: 0 10px;
    }

    &__done-button {
      margin: 5vh 6vw;

      button {
        height: 9vh;
        max-height: 60px;
        background-color: $theme-color;
        width: 100%;
        color: white;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        font-size: $font-size-base;
        border-radius: $border-radius-base;
      }
    }
  }
}

@media (min-width: 600px) {
  .table-ordering__report-driver {
    .report-driver__note-char-length {
      right: 17px;
    }

    .report-driver__main {
      margin: 2vh 17px;
      padding: 2vh 17px;
    }

    .report-driver__common-issues-list-item {
      margin: 8px;
    }
  }

  .table-ordering__report-driver-thankyou {
    .report-driver-thankyou__done-button {
      margin: 5vh 25px;
    }
  }
}
