.input__list-top,
.input__list-bottom {
	position: relative;
	height: 50px;

	> div {
		height: 100%;
	}
}

.input__list-bottom {
	> div {
		border: 1px solid #DEDEDF;
		width: 100%;

		&:first-child {
			border-bottom-left-radius: 4px;
		}

		&:last-child {
			border-bottom-right-radius: 4px;
		}
	}

	> div ~ div {
		margin-left: -1px;
	}
}

.card-info {
	&__wrapper::before {
		width: 100%;
		display: block;
		padding: 6px 12px;
		font-size: 18px;
		line-height: 36px;
		color: #909090;
	}
}

#card-number::before {
	content: "1234 1234 1234 1234";
}

#expiration-date::before {
	content: "MM / YY";
}

#cardCvv::before {
	content: "CVV";
}

.payment-bank__card-container {
	&.loaded .card-info__wrapper::before {
		display: none;
	}
}

.loading-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #fff, $alpha: 0.7);
	z-index: 200;
}

.loader-wave {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 16px;
	width: 60px;
}

.dot {
	transform-origin: 50% 50%;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	top: 0;
	background-color: #FF9419;
	position: absolute;
	-webkit-animation: vertical-movement 1.2s infinite ease-in-out;
	-moz-animation: vertical-movement 1.2s infinite ease-in-out;
	-ms-animation: vertical-movement 1.2s infinite ease-in-out;
	-o-animation: vertical-movement 1.2s infinite ease-in-out;
	animation: vertical-movement 1.2s infinite ease-in-out;
}

#d1 {
	left: 12px;
	-webkit-animation-delay: -0.3s;
	-moz-animation-delay: -0.3s;
	-ms-animation-delay: -0.3s;
	-o-animation-delay: -0.3s;
	animation-delay: -0.3s;
	opacity: 0.25
}

#d2 {
	left: 24px;
	-webkit-animation-delay: -0.6s;
	-moz-animation-delay: -0.6s;
	-ms-animation-delay: -0.6s;
	-o-animation-delay: -0.6s;
	animation-delay: -0.6s;
	opacity: 0.5
}

#d3 {
	left: 36px;
	-webkit-animation-delay: -0.9s;
	-moz-animation-delay: -0.9s;
	-ms-animation-delay: -0.9s;
	-o-animation-delay: -0.9s;
	animation-delay: -0.9s;
	opacity: 0.75
}

#d4 {
	left: 48px;
	-webkit-animation-delay: -1.2s;
	-moz-animation-delay: -1.2s;
	-ms-animation-delay: -1.2s;
	-o-animation-delay: -1.2s;
	animation-delay: -1.2s;
	opacity: 1
}

.last-dot {
	transform-origin: 50% 50%;
	height: 8px;
	width: 8px;
	border-radius: 50%;
}

#head-dot {
	height: 6px;
	width: 6px;
	border-radius: 50%
}

@-webkit-keyframes vertical-movement {
	0%,
	100% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8px);
	}
}

@keyframes vertical-movemen {
	0%,
	100% {
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8px);
		-moz-transform: translateY(8px);
		-ms-transform: translateY(8px);
		-o-transform: translateY(8px);
		transform: translateY(8px);
	}
}