$font-size-base: 14px;
$mobile-font-size-base: 12px;
$main-color: #303030;
$white: #FFFFFF;
$black: #000000;
$dark: #2c2c2c;
$red: #FF5821;
$yellow: #AB8D3F;
$green: #8BC34A;
$gray-1: #8D90A1;
$gray-2: #909090;
$gray-3: #DEDEDF;
$gray-4: #EFEFEF;
$gray-5: #FAFAFA;
$blue: #31728D;
$link-blue: #2196F3;
$theme-color: #FF9419;
$gray-1-active: #4f515f;
$theme-color-active: #DE8115;
$font-weight-light: 300;
$font-weight-bold: 600;
$border-radius-base: 4px;
$line-height-base: 1.4em;

// @import '~normalize.css';
@import "~normalize.css/normalize.css";

* {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  font-weight: normal;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  background: $white;
  font-size: $font-size-base;
  color: $main-color;
  font-weight: $font-weight-bold;

  font-family: system-ui, -apple-system, Roboto, Ubuntu, Helvetica, Arial, sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  color: $main-color;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.block-scroll {
    overflow: hidden;
  }
}

h1 {
  margin: 0;
  font-size: 1.2rem;
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border-color: transparent;

  &:disabled {
    color: $white;
    background-color: $gray-3;
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
}

.reset-font-size {
  font-size: 0;
}

.link {
  color: $link-blue;

  &__non-underline {
    text-decoration: none;
  }

  &__block {
    display: block;
  }
}

.warning {
  &__button {
    color: $red;

    svg {
      vertical-align: middle;
      fill: $red;
    }

    svg ~ .warning__label {
      margin-left: 5px;
    }
  }
}

form {
  select {
    position: relative;
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    box-shadow: none;
    outline: none;
    z-index: 1;
  }

  &.form .has-error {
    position: relative;
    border-color: $red;
    color: $red;
    z-index: 1;

    input {
      color: inherit;
    }
  }

  .error-message {
    display: inline-block;
    line-height: $line-height-base;
    color: $red;

    &__container {
      margin: 10px 0;
    }
  }
}

.form {
  &__error-message {
    display: inline-block;
    margin: 10px 0;
    color: $red;
    font-size: 0.8rem;
  }
}

.input {
  @extend .border-radius-base;

  position: relative;
  padding: 6px 12px;
  border: 1px solid $gray-3;
  line-height: 24px;
  height: 40px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;

  select + svg {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px;
  }

  > * {
    line-height: 36px;
  }

  &__block {
    display: block;
    width: 100%;
  }

  &__group {
    margin: 15px 0;
  }

  &__label {
    display: block;
    margin: 10px 0;
    text-align: left;
  }

  &__list-top {
    input:first-child {
      border-top-left-radius: 4px;
    }

    input:last-child {
      border-top-right-radius: 4px;
    }
  }

  &__list-bottom {
    input ~ input {
      margin-left: -1px;
    }

    input:first-child {
      border-bottom-left-radius: 4px;
    }

    input:last-child {
      border-bottom-right-radius: 4px;
    }
  }

  &__list-top + &__list-bottom {
    margin-top: -1px;
  }
}

.button {
  &.dark {
    background-color: $dark;
  }

  &__fill {
    border: 0;
    height: 14vw;
    line-height: 14vw;
    color: $white;
    background-color: $theme-color;
  }

  &__block {
    width: 100%;
  }

  &__outline {
    border: 1px solid;
    height: 14vw;
    background-color: transparent;
  }

  &__block-link {
    height: 14vw;
  }

  &__disabled {
    pointer-events: none;
    color: $white;
    background-color: $gray-3;
    opacity: 0.8;
  }
}

.reset-button {
  border: 0;
  outline: none;
  box-shadow: none;
}

.radio {
  position: relative;
  padding: 4vw;

  &__check-icon {
    position: relative;
    display: block;
    padding: 0;
    border: 3px solid $gray-2;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      display: block;
      border: 4px solid $white;
      width: 14px;
      height: 14px;
      background-color: transparent;
      border-radius: 50%;
    }
  }

  input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &.active {
    .radio__check-icon {
      border-color: $theme-color;
      background-color: $theme-color;

      &::before,
      &::after {
        opacity: 1;
      }
    }
  }
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-end {
  -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.font-weight-light {
  font-weight: $font-weight-light;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.border-radius-base {
  border-radius: 4px;
}

.grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.width-1-3 {
  width: 33.333%;
}

.width-2-3 {
  width: 66.666%;
}

.text-center {
  text-align: center;
}

.text-middle {
  vertical-align: middle;
}

.gray-font-opacity {
  opacity: 0.5;
}