$font-size-base: 14px;
$mobile-font-size-base: 12px;

$theme-color: #ff9419;
$theme-color-dark: #de8115;
$theme-color-translucent: rgba(255, 148, 25, 0.5);
$theme-blue: #31728d;
$main-color: #303030;
$white: #ffffff;
$black: #000000;
$half-black: rgba(0, 0, 0, 0.45);
$gray-0: #1d1d1d;
$gray-1: #25272c;
$gray-2: #8d90a1;
$gray-3: #9e9e9e;
$gray-4: #dededf;
$gray-5: #efefef;
$gray-6: #fbfbfb;
/* status color */
$status-gray: #808fa4;
$status-blue: #00b0ff;
$status-green: #4caf50;
$status-red: #fa4133;
$status-orange: #ff9c20;
$status-yellow: #ffd100;
/* special colors */
$add-button-active: #de8115;
$minus-button-active: #4f515f;
$logo-default-title: #ab8d3f;

$line-height-base: 1.4em;
$font-weight-light: 300;
$font-weight-bold: 500;
$font-weight-bolder: 600;
$border-radius-base: 4px;
$border-radius-large: 8px;
$z-index-base: 100;
$z-index-high: 200;
$z-index-higher: 300;
