.OptionSelectorContainer {
  @apply tw-overflow-y-auto tw-divide-x-0 tw-divide-y tw-divide-solid tw-divide-gray-200 tw-px-16 sm:tw-px-16px tw-py-8 sm:tw-py-8px;
}

.OptionItemContainer {
  @apply tw-flex tw-items-center tw-w-full tw-py-12 sm:tw-py-12px;
}

.OptionItemLabel {
  @apply tw-text-base tw-leading-relaxed tw-text-left tw-flex-grow;
}

.OptionItemCheckbox {
  @apply tw-flex-shrink-0;
}

.OptionSelectorFooterContainer {
  @apply tw-flex tw-items-center tw-justify-between tw-px-16 sm:tw-px-16px tw-py-8 sm:tw-py-8px;

  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.OptionSelectorFooterButton {
  @apply tw-uppercase tw-text-base tw-leading-relaxed tw-border-none tw-border-0 tw-bg-transparent
    tw-py-12 sm:tw-py-12px tw-px-16 sm:tw-px-16px;

  height: 50px;
  width: 43.5897vw;
}

.OptionSelectorFooterResetButton {
  @extend .OptionSelectorFooterButton;

  @apply tw-text-gray;

  &:disabled {
    @apply tw-text-opacity-40;
  }
}

@media (min-width: 420px) {
  .OptionSelectorFooterButton {
    width: 170px;
  }
}
