.alertBody {
  @apply tw-justify-center;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.alertTitle {
  @apply tw-flex tw-justify-center tw-text-center tw-text-xl tw-leading-normal tw-font-bold;

  word-break: break-word;
}

.alertDescription {
  @apply tw-flex tw-justify-center tw-text-center tw-mt-4 sm:tw-mt-4px tw-mb-8 sm:tw-mb-8px tw-leading-relaxed tw-text-gray-700;

  word-break: break-word;
}
