.MemberCardSection {
  @apply tw-relative tw-p-12 sm:tw-p-12px;

  &::before {
    @apply tw-absolute tw-left-0 tw-top-0 tw-block tw-w-full tw-bg-blue-darkest;

    content: "";
    height: 64.8%;
  }
}

.MemberCard {
  @apply tw-rounded tw-shadow-lg tw-w-full;

  min-height: 94px;
}
