@import "../../../Variables.scss";

.table-ordering__report-driver {
  width: 100%;
  background-color: $gray-5;

  .report-driver {
    &__required-mark {
      position: relative;
      font-size: inherit;
      color: #fa4133;
      font-weight: $font-weight-bold;
      text-transform: lowercase;
      padding-left: 1em;
      margin-left: 3px;

      &::before {
        content: "*";
        position: absolute;
        font-size: 1.3em;
        left: 0.25em;
      }
    }

    &__select-reason {
      margin-bottom: 3vh;
    }

    &__select-reason-title {
      font-size: $font-size-base;
      color: $main-color;
      font-weight: $font-weight-bolder;
      margin-bottom: 1rem;
    }

    &__select-reason-list {
      padding: 0 4px;
    }

    &__select-reason-item {
      padding: 1vh;
      color: $main-color;
      font-size: $font-size-base;
      display: flex;
      align-items: center;

      label {
        margin-left: 1em;
        line-height: 1.5em;
        font-size: inherit;
      }
    }

    &__note {
      position: relative;
      font-size: $font-size-base;
    }

    &__note-title {
      font-size: inherit;
      font-weight: $font-weight-bolder;
      margin-bottom: 1rem;
    }

    &__note-textarea {
      resize: none;
      width: 100%;
      border-radius: 8px;
      border: 1px solid $gray-4;
      background-color: white;
      padding: 8px;
      padding-bottom: 31px;
      font-size: inherit;
      line-height: $line-height-base;
    }

    &__note-char-length {
      position: absolute;
      right: 14px;
      bottom: 14px;
      font-size: 0.9em;
      color: $gray-3;
      background-color: white;
    }

    &__upload-photo {
      margin-top: 3vh;
    }

    &__upload-photo-title {
      font-size: $font-size-base;
      font-weight: $font-weight-bolder;
      margin-bottom: 1rem;
    }

    &__upload-photo-uploader {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 2px dashed $gray-4;
      border-radius: 8px;
      width: 120px;
      height: 104px;

      input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
      }
    }

    &__upload-photo-reminder {
      text-align: center;
      p {
        color: $gray-2;
      }
    }

    &__upload-photo-viewer {
      position: relative;
      max-width: 120px;

      img {
        border-radius: 8px;
      }
    }

    &__upload-photo-remove-button {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      width: 32px;
      height: 32px;
      padding: 4px;
      z-index: 2;
      transform: translate(30%, -30%);

      i {
        display: inline-block;
        fill: white;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $status-red;
        padding: 3px;
        border: 2px solid white;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__submit {
      margin-top: 3vh;
    }

    &__submit-button {
      height: 9vh;
      max-height: 60px;
      background-color: $theme-color;
      width: 100%;
      color: white;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      font-size: $font-size-base;
      border-radius: $border-radius-base;

      &:disabled {
        background-color: $gray-2;
      }
    }
  }
}

.ordering-report-driver {
  height: 100vh;
  background-color: $gray-6;

  &__container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }

  &__group {
    overflow: hidden;
  }

  &__textarea {
    border: 0;
    width: 100%;
  }

  &__upload-image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  &__button-close {
    position: absolute;
    right: -15px;
    top: -15px;
    height: auto;
    width: auto;
    background-color: $status-red;
    border-radius: 50%;
  }

  &__icon-close {
    fill: $white;
  }

  &__upload-container {
    display: inline-block;
    position: relative;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &__upload {
    display: inline-block;
    border: 2px dashed $gray-4;
  }
}
