$font-size-base: 14px;
$mobile-font-size-base: 12px;
$main-color: #303030;
$white: #ffffff;
$black: #000000;
$dark: #2c2c2c;
$red: #ff5821;
$yellow: #ab8d3f;
$green: #8bc34a;
$gray-0: #6b6b6b;
$gray-1: #8d90a1;
$gray-2: #909090;
$gray-3: #dededf;
$gray-4: #efefef;
$gray-5: #fafafa;
$blue: #31728d;
$link-blue: #2196f3;
$theme-color: #ff9419;
$theme-color-translucent: rgba(255, 148, 25, 0.5);
$gray-1-active: #4f515f;
$theme-color-active: #de8115;
$font-weight-light: 300;
$font-weight-bold: 600;
$border-radius-base: 4px;
$line-height-base: 1.4em;
$z-index-base: 100;
$z-index-high: 200;
$z-index-higher: 300;
