.confirmFooter {
  @apply tw-flex tw-justify-between tw-py-8 sm:tw-py-8px;

  &:global(.horizontal) {
    @apply tw-flex-row tw-space-x-16 sm:tw-space-x-16px;
  }

  &:global(.vertical) {
    @apply tw-flex-col tw-space-y-8 sm:tw-space-y-8px;
  }
}

.confirmVerticalCloseButton {
  &:global(.type-text) {
    @apply tw-text-orange
      hover:tw-text-orange-dark
      focus:tw-text-orange focus:hover:tw-text-orange-dark focus:active:tw-text-orange-light
      active:tw-text-orange-light;
  }
}
