@import "../../Variables.scss";

$bar-background-color: #242644;

.offer-details {
  &__bar {
    position: relative;
    padding: 10px 5px;
    color: $white;
    background-color: $bar-background-color;
    cursor: pointer;
  }

  &__image-media {
    margin: auto 6px;
    width: 15vw;
    max-width: 62px;
  }

  &__icon-info {
    position: absolute;
    height: 26px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 5px;
  }
}

.offer-details-aside {
  &__content {
    padding-bottom: 56px;
    max-height: 100%;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__image {
    width: 100%;
  }

  &__article {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    * {
      font-size: 1.1428rem;
    }

    h2,
    p,
    label {
      line-height: $line-height-base;
    }

    h2 {
      margin-bottom: 3vh;
      font-size: 1.8571rem;
      font-weight: bold;
    }
  }

  &__article-content {
    margin-top: 3vh;

    h4 {
      margin: 14px 0;
      font-weight: bold;
    }

    *:not(h4) {
      color: $gray-1;
    }

    ul,
    ol {
      padding-left: 20px;
    }

    ol {
      list-style-type: decimal;
    }

    li {
      line-height: 1.6em;
    }
  }
}
